{% load static %}

<div id="delete_list_check_modal" class="modal up-modal fade">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center mb-2">
                    <div class="col-12">
                        <div class="mx-auto">
                            <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                        </div>
                        <div class="ps-5 pe-5">
                            <p class="modal-title mb-1">リストを削除してよろしいですか？</p>
                        </div>
                        <div class="modal-description-area ps-3 pe-3">
                            <p class="modal-description mb-0">削除したリストは復元できません。</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-2">
                    <div class="col-5 offset-1">
                        <button type="button" class="btn yes-button" style="background-color: red;">削除</button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btn no-button" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="get_question_list_url" value="{% url 'question:get_all' %}">
<div id="question_modal" class="modal up-modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-11">
                    <p class="modal-title">回答フォームを選択する</p>
                </div>
                <div class="col-1">
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-12">
                        <div class="table-area mb-3">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 200px;">登録名</th>
                                        <th>タイトル</th>
                                        <th style="width: 120px;">項目</th>
                                        <th style="width: 80px;">設問数</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="notice-area text-center mt-3 mb-3 d-none">
                            <p class="mb-0">回答フォームが登録されていません。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>