{% load static %}

<input type="hidden" id="get_genre_url" value="{% url 'company:tag:get_tag' %}">
<div class="table-area">
    <table class="table parent-table genre-table mb-0">
        <thead>
            <tr style="height: 46.22px;">
                <th>ジャンル</th>
                <th style="width: 50px;"></th>
                <th style="width: 50px;"></th>
            </tr>
        </thead>
        <tbody>
            {% for tag_genre_item in tag_genre_list %}
                {% if forloop.first %}
                    <tr class="active">
                        <input type="hidden" value="{{ tag_genre_item.display_id }}">
                        <td>
                            <div class="d-flex justify-content-start align-items-center">
                                <i class='bx bx-folder folder-icon me-1'></i>
                                <p class="content-title mb-0">{{ tag_genre_item.name }}({{ tag_genre_item.count }})</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <form id="favorite_text_form" action="{% url 'company:tag:favorite_genre' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                                    <input type="hidden" name="id" value="{{ tag_genre_item.display_id }}">
                                </form>
                                {% if tag_genre_item.favorite_flg %}
                                    <img class="favorite-icon d-none" src="{% static 'img/icon/star.svg' %}">
                                    <img class="favorite-icon" src="{% static 'img/icon/star-color.svg' %}">
                                {% else %}
                                    <img class="favorite-icon" src="{% static 'img/icon/star.svg' %}">
                                    <img class="favorite-icon d-none" src="{% static 'img/icon/star-color.svg' %}">
                                {% endif %}
                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#favorite_on_modal"></button>
                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#favorite_off_modal"></button>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="dropdown d-inline-block p-0">
                                    <button type="button" id="dropdown_{{ tag_genre_item.display_id }}" class="btn" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-horizontal-rounded menu-icon"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdown_{{ tag_genre_item.display_id }}">
                                        <button type="button" class="btn dropdown-item fw-bold edit-button text-center">編集</button>
                                        <button type="button" class="btn dropdown-item fw-bold delete-button text-center border-top p-1 pt-2" value="genre_{{ tag_genre_item.display_id }}" data-bs-toggle="modal" data-bs-target="#delete_check_modal">削除</button>
                                        <form id="delete_genre_{{ tag_genre_item.display_id }}_form" action="{% url 'company:tag:delete_genre' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                                            <input type="hidden" name="id" value="{{ tag_genre_item.display_id }}">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                <tr style="background-color: #FFF;">
                    <input type="hidden" value="{{ tag_genre_item.display_id }}">
                    <td>
                        <div class="d-flex justify-content-start align-items-center">
                            <i class='bx bx-folder folder-icon me-1'></i>
                            <p class="content-title mb-0">{{ tag_genre_item.name }}({{ tag_genre_item.count }})</p>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <form id="favorite_text_form" action="{% url 'company:tag:favorite_genre' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                                <input type="hidden" name="id" value="{{ tag_genre_item.display_id }}">
                            </form>
                            {% if tag_genre_item.favorite_flg %}
                                <img class="favorite-icon d-none" src="{% static 'img/icon/star.svg' %}">
                                <img class="favorite-icon" src="{% static 'img/icon/star-color.svg' %}">
                            {% else %}
                                <img class="favorite-icon" src="{% static 'img/icon/star.svg' %}">
                                <img class="favorite-icon d-none" src="{% static 'img/icon/star-color.svg' %}">
                            {% endif %}
                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#favorite_on_modal"></button>
                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#favorite_off_modal"></button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="dropdown d-inline-block p-0">
                                <button type="button" id="dropdown_{{ tag_genre_item.display_id }}" class="btn" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-horizontal-rounded menu-icon"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdown_{{ tag_genre_item.display_id }}">
                                    <button type="button" class="btn dropdown-item edit-button fw-bold text-center">編集</button>
                                    <button type="button" class="btn dropdown-item delete-button fw-bold text-center border-top p-1 pt-2" value="genre_{{ tag_genre_item.display_id }}" data-bs-toggle="modal" data-bs-target="#delete_check_modal">削除</button>
                                    <form id="delete_genre_{{ tag_genre_item.display_id }}_form" action="{% url 'company:tag:delete_genre' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                                        <input type="hidden" name="id" value="{{ tag_genre_item.display_id }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>