{% load static %}

<div class="row mb-3">
    <div class="col-12">
        <div class="card-area pt-3 pb-3 ps-5 pe-5">
            <div class="title-area">
                <div class="d-flex justify-content-start align-items-center mb-1">
                    <label class="input-label fw-bold me-3 mb-0">登録名</label>
                    <input type="text" name="name" value="{{ flow.name|default:'' }}" class="input-text ps-2 pe-2 me-2" placeholder="登録名を入力" data-parsley-errors-container="#error_name" required>
                    <input type="text" class="d-none">
                    <div class="position-relative">
                        <div class="flg-area d-flex ms-2 me-1">
                            <span class="me-2">無効</span>
                            {% if flow.valid %}
                                <input id="valid" type="checkbox" name="valid" value="1" class="d-none" checked>
                            {% else %}
                                <input id="valid" type="checkbox" name="valid" value="1" class="d-none">
                            {% endif %}
                            <label for="valid" class="d-block position-relative mb-0" style="width: 35px;"></label>
                            <span class="ms-2">有効</span>
                        </div>
                    </div>
                </div>
                <div id="error_name" class="ps-4 mb-1" style="margin-left: 2.5rem;"></div>
                <p class="description ps-5 ms-4 mb-3">登録名は管理画面のみで使用され、ユーザーには表示されません。</p>
                <div class="d-flex justify-content-start align-items-center mt-3 mb-1">
                    <label class="input-label fw-bold me-3 mb-0">フロー</label>
                    <p class="select-text me-3 mb-0">{{ flow.description|default:'' }}</p>
                    <input type="text" name="flow" value="{{ flow.type }}" class="d-none" data-parsley-errors-container="#error_flow" data-parsley-error-message="選択してください" required>
                    {% if not flow.display_id %}
                        <button type="button" class="btn select-button pt-1 pb-1 p-0 mb-0">フローを選択する</button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#select_flow_modal"></button>
                    {% endif %}
                    <div class="save-area ms-auto">
                        <input type="hidden" name="id" value="{{ flow.display_id }}">
                        <button type="button" class="btn save-button" value="flow">保存する</button>
                        <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#save_check_modal"></button>
                        <input type="hidden" id="reload_url" value="{% url 'company:flow:index' %}">
                    </div>
                </div>
                <div id="error_flow" class="ps-4 mb-1" style="margin-left: 4rem;"></div>
            </div>
        </div>
    </div>
</div>