{% extends '../../base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/template/richvideo.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }} - 企業 - </p>
        </div>
    </div>
    <div class="shop">
        {% if template.display_id %}
            <div class="row mb-2">
                <div class="col-12">
                    <div class="delete_area d-flex justify-content-end align-items-center">
                        <form id="delete_richvideo_form" action="{% url 'template:delete_richvideo' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                            <input type="hidden" name="id" value="{{ template.display_id }}">
                        </form>
                        <button type="button" class="btn delete-button p-1" value="richvideo">このテンプレートを削除する</a>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#delete_check_modal"></button>
                    </div>
                </div>
            </div>
        {% endif %}
        <input type="hidden" id="save_richvideo_check_form" value="{% url 'template:save_richvideo_check' %}">
        <form id="save_richvideo_form" action="{% url 'template:save_richvideo' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
            {% include 'template/richvideo/title.html' %}
            {% include 'template/richvideo/input.html' %}
        </form>
        {% include 'modal.html' %}
        {% include 'template/richvideo/modal/image.html' %}
        {% include 'preview.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/template/richvideo/preview.js' %}"></script>
    <script src="{% static 'js/template/richvideo/append.js' %}"></script>
    <script src="{% static 'js/template/richvideo/action.js' %}"></script>
    <script src="{% static 'js/template/richvideo/data.js' %}"></script>
    <script src="{% static 'js/template/richvideo/image.js' %}"></script>
{% endblock %}