{% extends '../base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/line/history.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <input type="hidden" name="shop_id" value="{{ shop_id }}">
    <input type="hidden" id="check_url" value="{% url 'line:history:check' %}">
    <div class="history-area d-none">
        <div class="top-area">
            <div class="profile-area">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="d-flex align-items-center p-3 ps-4 pe-4">
                            <img class="user-image ms-2 me-2">
                            <p class="user-name mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-area border-top border-bottom">
                <ul class="nav justify-content-center">
                    <li class="nav-item text-center" style="width: 50%;">
                        <a href="#history" class="nav-link active" data-bs-toggle="tab">
                            <img src="{% static 'img/history/history.svg' %}" class="d-none">
                            <img src="{% static 'img/history/history-color.svg' %}">
                            <p class="mb-0">予約確認/変更</p>
                        </a>
                    </li>
                    <li class="nav-item text-center" style="width: 50%;">
                        <a href="#question" class="nav-link" data-bs-toggle="tab">
                            <img src="{% static 'img/history/question.svg' %}">
                            <img src="{% static 'img/history/question-color.svg' %}" class="d-none">
                            <p class="mb-0">回答</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-area border-top" style="height: 100%;">
            <div class="tab-content">
                <input type="hidden" id="get_date_url" value="{% url 'line:history:get_date' %}">
                <input type="hidden" id="get_question_url" value="{% url 'line:history:get_question' %}">
                <div id="history" class="tab-pane active"></div>
                <div id="question" class="tab-pane">
                    <div class="question-content-area m-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="date-area d-none">
        <div class="menu-area mt-3">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex align-items-center">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon history-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-off.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-no.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-no.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="menu-text mb-0" style="width: 37%">予約履歴</p>
                        <p class="menu-text active mb-0" style="margin-right: 3.5%; width: 18%;">日時選択</p>
                        <p class="menu-text mb-0" style="margin-left: 3.5%; width: 18%;">予約確認</p>
                        <p class="menu-text mb-0" style="width: 37%">受付完了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area mb-4">
            <div class="row">
                <div class="col-12 text-center p-0">
                    <input type="hidden" id="get_date_url" value="{% url 'line:history:get_date' %}">
                    <p class="content-title pt-2 pb-2 mb-2">希望日時選択</p>
                </div>
            </div>
            <div class="date-content-area">
                <div class="row mt-2 mb-2">
                    <div class="col-12 p-0">
                        <div class="d-flex justify-content-center align-items-center">
                            <label class="date-arrow-icon prev-date-arrow p-1 me-auto mb-0"><</label>
                            <input type="hidden">
                            <input type="hidden">
                            <input type="hidden">
                            <div class="text-center">
                                <p class="date-year-text mb-0"></p>
                                <input type="hidden">
                                <p class="date-week-text mb-0"></p>
                                <input type="hidden">
                                <input type="hidden">
                            </div>
                            <label class="date-arrow-icon next-date-arrow p-1 ms-auto mb-0">></label>
                            <input type="hidden">
                            <input type="hidden">
                            <input type="hidden">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="table-area">
                            <table class="table date-table text-center mb-0" style="border: 1px solid #BEBEBE;">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0"></p>
                                            <p class="mb-0">月</p>
                                        </th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0"></p>
                                            <p class="mb-0">火</p>
                                        </th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0"></p>
                                            <p class="mb-0">水</p>
                                        </th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0"></p>
                                            <p class="mb-0">木</p>
                                        </th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0"></p>
                                            <p class="mb-0">金</p>
                                        </th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0"></p>
                                            <p class="mb-0">土</p>
                                        </th>
                                        <th class="p-1">
                                            <p class="calendar-day-text mb-0" style="color: #FF0000;"></p>
                                            <p class="mb-0" style="color: #FF0000;">日</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="date-loader-area d-flex justify-content-center align-items-center text-center w-100 d-none" style="height: 50vh;">
                <div class="table-loader spinner-border">
                    <span class="visually-hidden" style="font-size: 12px;">リアルタイムスケジュール取得中...</span>
                </div>
                <p class="h5 fw-bold ms-3 mb-0" style="font-size: 12px;">リアルタイムスケジュール取得中...</p>
            </div>
        </div>
        <div class="footer-area d-none mb-3">
            <div class="row">
                <div class="col-12 footer-bar text-center p-0">
                    <div class="d-flex align-items-center m-3 mb-0">
                        <label class="footer-label mb-0">選択中</label>
                        <p class="footer-text footer-date-text mb-0"></p>
                    </div>
                    <div class="text-center mt-3">
                        <button type="button" class="btn footer-button">予約変更確認へ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history-check-area d-none">
        <div class="menu-area mt-3">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex align-items-center">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon history-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon date-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-off.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-no.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="menu-text mb-0" style="width: 37%">予約履歴</p>
                        <p class="menu-text mb-0" style="margin-right: 3.5%; width: 18%;">日時選択</p>
                        <p class="menu-text active mb-0" style="margin-left: 3.5%; width: 18%;">予約確認</p>
                        <p class="menu-text mb-0" style="width: 37%">受付完了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0">
                    <p class="content-title pt-2 pb-2 mb-3">ご予約内容</p>
                    <input type="hidden" id="send_reserve_url" value="{% url 'line:history:send' %}">
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">
                    <div class="content-item-area pt-1 ps-1 pb-1">
                        <div class="check-content-item-area p-2">
                            <div class="content-item-title-area d-flex align-items-center mb-1">
                                <p class="content-item-title mb-0">会場</p>
                            </div>
                            <p class="content-item-description check-place-text me-5 mb-0"></p>
                        </div>
                        <div class="check-content-item-area p-2">
                            <div class="content-item-title-area d-flex align-items-center mb-1">
                                <p class="content-item-title mb-0">コース</p>
                            </div>
                            <p class="content-item-description check-course-text me-5 mb-0"></p>
                        </div>
                        <div class="check-content-item-area p-2">
                            <div class="content-item-title-area d-flex align-items-center mb-1">
                                <p class="content-item-title mb-0">日時</p>
                            </div>
                            <p class="content-item-description check-date-text me-5 mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0 mb-2">
                    <button type="button" class="btn reserve-button">この内容で予約する</button>
                </div>
            </div>
        </div>
    </div>
    <div class="history-end-area d-none">
        <div class="menu-area mt-3">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex align-items-center">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon history-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon date-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-off.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="menu-text mb-0" style="width: 37%">予約履歴</p>
                        <p class="menu-text mb-0" style="margin-right: 3.5%; width: 18%;">日時選択</p>
                        <p class="menu-text mb-0" style="margin-left: 3.5%; width: 18%;">予約確認</p>
                        <p class="menu-text active mb-0" style="width: 37%">受付完了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area mb-4">
            <div class="row mb-3">
                <div class="col-12 text-center p-0">
                    <p class="content-message mb-1">ご予約の変更を承りました！</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center p-0">
                    <p class="content-title pt-2 pb-2 mb-3">ご予約内容</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">
                    <div class="content-item-area pt-1 ps-1 pb-1">
                        <div class="end-content-item-area p-2">
                            <div class="content-item-title-area d-flex align-items-center mb-1">
                                <p class="content-item-title mb-0">会場</p>
                            </div>
                            <p class="content-item-description end-place-text me-5 mb-0"></p>
                        </div>
                        <div class="end-content-item-area p-2">
                            <div class="content-item-title-area d-flex align-items-center mb-1">
                                <p class="content-item-title mb-0">コース</p>
                            </div>
                            <p class="content-item-description end-course-text me-5 mb-0"></p>
                        </div>
                        <div class="end-content-item-area p-2">
                            <div class="content-item-title-area d-flex align-items-center mb-1">
                                <p class="content-item-title mb-0">日時</p>
                            </div>
                            <p class="content-item-description end-date-text me-5 mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0">
                    <button type="button" class="btn close-button">トーク画面に戻る</button>
                </div>
            </div>
        </div>
    </div>
    <div class="question-area d-none">
        <div class="menu-area mt-3">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex align-items-center">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon history-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-off.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-no.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-no.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="menu-text mb-0" style="width: 37%">予約履歴</p>
                        <p class="menu-text active mb-0" style="margin-right: 3.5%; width: 18%;">設問</p>
                        <p class="menu-text mb-0" style="margin-left: 3.5%; width: 18%;">確認</p>
                        <p class="menu-text mb-0" style="width: 37%">受付完了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0 mb-1">
                    <input type="hidden" id="question_id">
                    <p class="content-title pt-2 pb-2 mb-2"></p>
                    <p class="content-description text-start mb-2 ms-2"></p>
                </div>
            </div>
            <div class="row">
                <div class="content-item-area pt-2 pb-2 ps-2 pe-2">
                    <div class="content-question-area">
                        <form id="question_form" method="POST" enctype="multipart/form-data" data-parsley-focus="none"></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area mt-2 mb-3">
            <div class="row">
                <div class="col-12 text-center p-0 mb-2">
                    <button type="button" class="btn check-button">確認する</button>
                </div>
            </div>
        </div>
    </div>
    <div class="question-check-area d-none">
        <div class="menu-area">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex align-items-center">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon history-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon question-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-off.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-no.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="menu-text mb-0" style="width: 37%">予約履歴</p>
                        <p class="menu-text mb-0" style="margin-right: 3.5%; width: 18%;">設問</p>
                        <p class="menu-text active mb-0" style="margin-left: 3.5%; width: 18%;">確認</p>
                        <p class="menu-text mb-0" style="width: 37%">受付完了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0">
                    <p class="content-title pt-2 pb-2 mb-3">設問内容</p>
                    <input type="hidden" id="send_question_url" value="{% url 'line:history:question' %}">
                </div>
            </div>
            <div class="row">
                <div class="content-item-area pt-2 pb-2 ps-2 pe-2">
                    <div class="check-content-item-area"></div>
                </div>
            </div>
        </div>
        <div class="button-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0 mb-2">
                    <button type="button" class="btn question-button">この内容で変更する</button>
                </div>
            </div>
        </div>
    </div>
    <div class="question-end-area d-none">
        <div class="menu-area mt-3">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="d-flex align-items-center">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon history-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon question-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-on.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                        <img src="{% static 'img/reserve/menu-off.svg' %}" class="menu-icon" style="width: 11vw; height: 11vw;">
                        <label class="menu-bar mb-0" style="width: 12.5vw"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="menu-text mb-0" style="width: 37%">予約履歴</p>
                        <p class="menu-text mb-0" style="margin-right: 3.5%; width: 18%;">設問</p>
                        <p class="menu-text mb-0" style="margin-left: 3.5%; width: 18%;">確認</p>
                        <p class="menu-text active mb-0" style="width: 37%">受付完了</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-area mb-4">
            <div class="row mb-3">
                <div class="col-12 text-center p-0">
                    <p class="content-message mb-1">変更を承りました！</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center p-0">
                    <p class="content-title pt-2 pb-2 mb-3">設問内容</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">
                    <div class="content-item-area pt-2 pb-2 ps-2 pe-2">
                        <div class="end-content-item-area"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area mb-3">
            <div class="row">
                <div class="col-12 text-center p-0">
                    <button type="button" class="btn close-button">トーク画面に戻る</button>
                </div>
            </div>
        </div>
    </div>
    <div class="fail-area d-none">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p class="fw-bold mb-3" style="color: red; font-size: 18px;">予約できませんでした。</p>
                <p class="fw-bold mb-5" style="font-size: 18px;">ご希望の日程が埋まってしまいました。<br>お手数ですがもう一度ご予約をお願いします。</p>
                <button type="button" class="btn reload-button">予約履歴に戻る</button>
            </div>
        </div>
    </div>
    <div class="loader-area d-flex align-items-center position-absolute text-center d-none" style="opacity: 0">
        <div class="table-loader spinner-border">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p class="h5 fw-bold ms-3 mb-0">Loading...</p>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/line/history.js' %}" type="module"></script>
    <script src="{% static 'js/line/history/history.js' %}" type="module"></script>
    <script src="{% static 'js/line/history/date.js' %}" type="module"></script>
    <script src="{% static 'js/line/history/check.js' %}" type="module"></script>
    <script src="{% static 'js/line/history/question.js' %}" type="module"></script>
{% endblock %}