<input type="hidden" id="get_rich_menu_url" value="{% url 'richmenu:get' %}">
<input type="hidden" id="get_rich_menu_list_url" value="{% url 'richmenu:get_all' %}">
<div id="rich_menu_modal" class="modal up-modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-11">
                    <div class="d-flex align-items-center">
                        <p class="modal-title">リッチメニューを選択する</p>
                        <button type="button" class="btn cancel-button ms-auto me-3">選択なし</button>
                    </div>
                </div>
                <div class="col-1">
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-12">
                        <div class="table-area mb-3">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="ps-3" style="width: 120px;">画像</th>
                                        <th style="width: 230px;">登録名</th>
                                        <th>アクション</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="notice-area text-center mt-3 mb-3 d-none">
                            <p class="mb-0">リッチメニューが登録されていません。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>