{% load static %}

<div class="row">
    <div class="col-12">
        <div class="card-area pt-3 pb-3 ps-5 pe-5">
            <div class="input-area mb-3">
                <div class="row">
                    <div class="col-12">
                        <p class="input-title fw-bold mb-2">回答フォーム項目設定</p>
                        <div class="display-area-wrap">
                            {% if question.item %}
                                {% for question_item in question.item %}
                                    <div class="display-area d-flex align-items-start position-relative p-1 mb-2">
                                        <div class="content-area p-2">
                                            <div class="top-area d-flex justify-content-start align-items-center">
                                                <p class="input-label mb-0">設問項目</p>
                                                <div class="dropdown input-select-dropdown d-inline-block p-0">
                                                    <input type="text" class="input-text input-select input-type ps-2 pe-2" value="{{ question_item.get_type_display }}" style="width: 10rem;" placeholder="設問項目" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" data-parsley-errors-container="#error_select_item_{{ question_item.random }}" readonly required>
                                                    <input type="hidden" value="{{ question_item.type }}">
                                                    <div class="dropdown-menu">
                                                        {% include 'item/question_item.html' %}
                                                    </div>
                                                </div>
                                                <p class="input-label ms-3 mb-0">タイトル</p>
                                                <input type="text" class="input-text input-select input-name ps-2 pe-2" value="{{ question_item.title }}" style="width: 15rem;" placeholder="タイトルを入力" data-parsley-errors-container="#error_item_title_{{ question_item.random }}" required>
                                            </div>
                                            <div class="d-flex justify-content-start align-items-center mb-2">
                                                <div id="error_select_item_{{ question_item.random }}" style="margin-left: 4.4rem; width: 10rem;"></div>
                                                <div id="error_item_title_{{ question_item.random }}" style="margin-left: 5.4rem;"></div>
                                            </div>
                                            <div class="sub-area d-flex justify-content-start align-items-center">
                                                <p class="input-label mb-0">補足</p>
                                                <input type="text" class="input-text input-select input-description ps-2 pe-2" value="{{ question_item.description|default:'' }}" style="width: 30.5rem;" placeholder="補足を入力">
                                            </div>
                                            {% if question_item.type == 51 %}
                                                <div class="type-area d-flex justify-content-start align-items-center mt-2 mb-2">
                                                    <p class="input-label mb-0">種類を選択</p>
                                                    <input type="text" id="type" class="input-text input-select input-question readonly ps-2 pe-2" value="ラジオボタン" style="width: 10rem;" disabled>
                                                </div>
                                                <div class="item-area mt-2 mb-2">
                                                    {% if question_item.choice_count > 1 %}
                                                        <div class="row">
                                                            <div class="col-6 mb-2">
                                                                <span>1.</span>
                                                                <input type="text" class="ps-1 ms-1" value="対面" disabled>
                                                                <button type="button" class="btn delete-offline-button ms-2 me-2 p-0">
                                                                    <img src="{% static 'img/icon/cross.svg' %}">
                                                                </button>
                                                            </div>
                                                            <div class="col-6 mb-2">
                                                                <span>2.</span>
                                                                <input type="text" class="ps-1 ms-1" value="オンライン" disabled>
                                                                <button type="button" class="btn delete-online-button ms-2 me-2 p-0">
                                                                    <img src="{% static 'img/icon/cross.svg' %}">
                                                                </button>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="row">
                                                            <div class="col-6 mb-2">
                                                                <span>1.</span>
                                                                <input type="text" class="ps-1 ms-1" value="{{ question_item.choice.0.text }}" disabled>
                                                            </div>
                                                            <div class="col-6 mb-2">
                                                                {% if question_item.choice.0.text == '対面' %}
                                                                    <button type="button" class="btn add-online-button d-flex justify-content-start align-items-center p-0">
                                                                        <i class="bx bx-plus me-1"></i>
                                                                        <p class="mb-0">オンラインを追加する</p>
                                                                    </button>
                                                                {% elif question_item.choice.0.text == 'オンライン' %}
                                                                    <button type="button" class="btn add-offline-button d-flex justify-content-start align-items-center p-0">
                                                                        <i class="bx bx-plus me-1"></i>
                                                                        <p class="mb-0">対面を追加する</p>
                                                                    </button>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% elif question_item.type == 52 %}
                                                <div class="type-area d-flex justify-content-start align-items-center mt-2 mb-2">
                                                    <p class="input-label mb-0">種類を選択</p>
                                                    <input type="text" id="type" class="input-text input-select input-question readonly ps-2 pe-2" value="ラジオボタン" style="width: 10rem;" disabled>
                                                </div>
                                                <div class="item-area mt-2 mb-2">
                                                    <div class="row">
                                                        <div class="col-6 mb-2">
                                                            <span>1.</span>
                                                            <input type="text" class="ps-1 ms-1" value="〇年〇月〇日 〇時〇分" disabled>
                                                        </div>
                                                        <div class="col-6 mb-2">
                                                            <span>2.</span>
                                                            <input type="text" class="ps-1 ms-1" value="〇年〇月〇日 〇時〇分" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif question_item.type == 53 or question_item.type == 54 %}
                                                <div class="type-area d-flex justify-content-start align-items-center mt-2 mb-2">
                                                    <p class="input-label mb-0">種類を選択</p>
                                                    <input type="text" id="type" class="input-text input-select input-question readonly ps-2 pe-2" value="日時" style="width: 10rem;" disabled>
                                                </div>
                                            {% elif question_item.type == 99 %}
                                                <div class="type-area d-flex justify-content-start align-items-center mt-2 mb-2">
                                                    <p class="input-label mb-0">種類を選択</p>
                                                    <div class="dropdown input-select-dropdown d-inline-block p-0">
                                                        <input type="text" id="type" class="input-text input-select input-question ps-2 pe-2" value="{{ question_item.get_choice_type_display }}" style="width: 10rem;" placeholder="種類を選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                                                        <input type="hidden" value="{{ question_item.choice_type }}">
                                                        <div class="dropdown-menu" aria-labelledby="type">
                                                            {% include 'item/question_choice_item.html' %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            {% if question_item.type != 51 %}
                                                {% if question_item.choice_count > 0 %}
                                                    <div class="item-area mt-2 mb-2">
                                                        <div class="row">
                                                            {% for questiont_choice_item in question_item.choice %}
                                                                <div class="col-6 mb-2">
                                                                    <span>{{ questiont_choice_item.number }}.</span>
                                                                    {% if questiont_choice_item.choice_type == 2 or questiont_choice_item.choice_type == 3 or questiont_choice_item.choice_type == 4 %}
                                                                        <input type="text" class="ps-1 ms-1" value="{{ questiont_choice_item.text|default:'' }}" data-parsley-errors-container="#error_list_item_{{ questiont_choice_item.random }}" required>
                                                                    {% else %}
                                                                        <input type="text" class="ps-1 ms-1" value="{{ questiont_choice_item.text|default:'' }}" data-parsley-errors-container="#error_list_item_{{ questiont_choice_item.random }}">
                                                                    {% endif %}
                                                                    <button type="button" class="btn delete-list-button ms-2 me-2 p-0">
                                                                        <img src="{% static 'img/icon/cross.svg' %}">
                                                                    </button>
                                                                    <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#delete_list_check_modal"></button>
                                                                    <div id="error_list_item_{{ questiont_choice_item.random }}" class="ms-2"></div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6 d-flex justify-content-start align-items-center">
                                                                <button type="button" class="btn add-list-button d-flex justify-content-start align-items-center p-0">
                                                                    <i class="bx bx-plus me-1"></i>
                                                                    <p class="mb-0">リストを追加する</p>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="action-area p-2 d-flex justify-content-between align-items-center mb-2">
                                            <div class="pin-area d-flex align-items-center me-1">
                                                <span class="me-1">必須</span>
                                                {% if question_item.required_flg %}
                                                    <input id="check_pin_{{ question_item.random }}" type="checkbox" class="input-required" value="1" checked>
                                                {% else %}
                                                    <input id="check_pin_{{ question_item.random }}" type="checkbox" class="input-required" value="1">
                                                {% endif %}
                                                <label for="check_pin_{{ question_item.random }}" class="d-block position-relative mb-0"></label>
                                            </div>
                                            <button type="button" class="btn copy-item-button ms-3 me-2 p-0">
                                                <i class="bx bx-copy-alt"></i>
                                            </button>
                                            <button type="button" class="btn delete-item-button ms-2 me-2 p-0">
                                                <img src="{% static 'img/icon/cross.svg' %}">
                                            </button>
                                            <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#delete_item_check_modal"></button>
                                            {% if question.item|length > 1 %}
                                                {% if forloop.first %}
                                                    <button type="button" class="btn order-down-button d-flex ms-4 p-0">
                                                        <img src="{% static 'img/icon/order-down.svg' %}">
                                                    </button>
                                                {% elif forloop.last %}
                                                    <button type="button" class="btn order-up-button d-flex ms-4 p-0">
                                                        <img src="{% static 'img/icon/order-up.svg' %}">
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn order-up-button d-flex ms-4 p-0">
                                                        <img src="{% static 'img/icon/order-up.svg' %}">
                                                    </button>
                                                    <button type="button" class="btn order-down-button d-flex ms-2 p-0">
                                                        <img src="{% static 'img/icon/order-down.svg' %}">
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="display-area d-flex align-items-start position-relative p-1 mb-2">
                                    <div class="content-area p-2">
                                        <div class="top-area d-flex justify-content-start align-items-center">
                                            <p class="input-label mb-0">設問項目</p>
                                            <div class="dropdown input-select-dropdown d-inline-block p-0">
                                                <input type="text" class="input-text input-select input-type ps-2 pe-2" style="width: 10rem;" placeholder="設問項目" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" data-parsley-errors-container="#error_select_item_{{ random }}" readonly required>
                                                <input type="hidden">
                                                <div class="dropdown-menu">
                                                    {% include 'item/question_item.html' %}
                                                </div>
                                            </div>
                                            <p class="input-label ms-3 mb-0">タイトル</p>
                                            <input type="text" class="input-text input-select input-name ps-2 pe-2" style="width: 15rem;" placeholder="タイトルを入力" data-parsley-errors-container="#error_item_title_{{ random }}" required>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center mb-2">
                                            <div id="error_select_item_{{ random }}" style="margin-left: 4.4rem; width: 10rem;"></div>
                                            <div id="error_item_title_{{ random }}" style="margin-left: 5.4rem;"></div>
                                        </div>
                                        <div class="sub-area d-flex justify-content-start align-items-center">
                                            <p class="input-label mb-0">補足</p>
                                            <input type="text" class="input-text input-select input-description ps-2 pe-2" style="width: 30.5rem;" placeholder="補足を入力">
                                        </div>
                                    </div>
                                    <div class="action-area p-2 d-flex justify-content-between align-items-center mb-2">
                                        <div class="pin-area d-flex align-items-center me-1">
                                            <span class="me-1">必須</span>
                                            <input id="check_pin_{{ random }}" type="checkbox" class="input-required" value="1" checked>
                                            <label for="check_pin_{{ random }}" class="d-block position-relative mb-0"></label>
                                        </div>
                                        <button type="button" class="btn copy-item-button ms-3 me-2 p-0">
                                            <i class="bx bx-copy-alt"></i>
                                        </button>
                                        <button type="button" class="btn delete-item-button ms-2 me-2 p-0">
                                            <img src="{% static 'img/icon/cross.svg' %}">
                                        </button>
                                        <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#delete_item_check_modal"></button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="add-display-area">
                            <button type="button" class="btn d-flex justify-content-start align-items-center p-0">
                                <i class="bx bx-plus me-1"></i>
                                <p class="mb-0">新しく項目を追加する</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-area ps-5 ms-1">
                <div class="row">
                    <div class="col-12">
                        <div class="save-area text-center">
                            <input type="hidden" name="id" value="{{ question.display_id }}">
                            {% if question.display_id %}
                                <button type="button" class="btn copy-button mt-2 me-3" value="question">複製する</button>
                                <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#copy_check_modal"></button>
                                <input type="hidden" id="copy_url" value="{% url 'company:question:copy' %}">
                            {% endif %}
                            <button type="button" class="btn save-button mt-2" value="question">保存する</button>
                            <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#save_check_modal"></button>
                            <input type="hidden" id="reload_url" value="{% url 'company:question:index' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>