{% load static %}

<div class="step-area mb-4">
    <div class="table-area">
        <table class="table table-tablet text-nowrap mb-0">
            <thead>
                <tr>
                    <th style="width: 40px;"></th>
                    <th style="min-width: 120px;">コース</th>
                    <th style="width: 160px; min-width: 140px;">日時</th>
                    <th style="width: 100px;">参加/不参加</th>
                    <th style="width: 80px;">担当者</th>
                    <th style="width: 120px; min-width: 100px;">設備</th>
                    <th style="width: 120px;">お悩みの箇所</th>
                </tr>
            </thead>
            <tbody>
                {% for user_flow in user.flow %}
                    <tr>
                        <td class="position-relative ps-3 pe-1" rowspan="2">
                            {% if forloop.first %}
                                {% if user_flow.end_flg %}
                                    <label class="process pass mb-0"></label>
                                {% else %}
                                    <label class="process mb-0"></label>
                                {% endif %}
                            {% else %}
                                {% if user_flow.end_flg %}
                                    <label class="process any pass mb-0"></label>
                                {% else %}
                                    <label class="process any mb-0"></label>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="position-relative" rowspan="2">
                            {% for user_flow_schedule in user_flow.schedule %}
                                {% if forloop.last %}
                                    {% if user_flow_schedule.online %}
                                        <label class="online-offline-mark ps-2 pe-2 mb-0">オンライン</label>
                                        {% if user_flow_schedule.online_course %}
                                            <p class="content-course mb-0">{{ user_flow_schedule.online_course.title }}</p>
                                        {% else %}
                                            <p class="content-course mb-0">-</p>
                                        {% endif %}
                                    {% elif user_flow_schedule.offline %}
                                        <label class="online-offline-mark ps-2 pe-2 mb-0">対面</label>
                                        {% if user_flow_schedule.offline_course %}
                                            <p class="content-course mb-0">{{ user_flow_schedule.offline_course.title }}</p>
                                        {% else %}
                                            <p class="content-course mb-0">-</p>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div class="d-flex justify-content-start align-items-center">
                                <p class="content-title mb-0">{{ user_flow.name }}</p>
                            </div>
                            {% if user_flow.updated_at %}
                                <p class="content-date mb-0">{{ user_flow.updated_at|date:'Y年m月d日 H:i' }}</p>
                            {% else %}
                                <p class="content-date mb-0">{{ user_flow.created_at|date:'Y年m月d日 H:i' }}</p>
                            {% endif %}
                            {% if user_flow.alert %}
                                <div class="alert-area">
                                    <img src="{% static 'img/icon/warning.svg' %}" class="ms-2 alert-image">
                                    <label class="alert-text mb-0 p-1 ps-2 pe-2">{{ user_flow.alert.text }}</label>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if user_flow.schedule|length > 0 %}
                                {% for user_flow_schedule in user_flow.schedule %}
                                    {% if forloop.last %}
                                        {% if user_flow_schedule.date and user_flow_schedule.time %}
                                            <input type="text" class="input-text text-center readonly w-100 ps-1" value="{{ user_flow_schedule.date|date:'Y/m/d' }} {{ user_flow_schedule.time|date:'H:i' }}" readonly>
                                        {% else %}
                                            <input type="text" class="input-text text-center readonly w-100 ps-1" value="-" readonly>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <input type="text" class="input-text text-center readonly w-100 ps-1" value="-" readonly>
                            {% endif %}
                        </td>
                        <td>
                            {% if user_flow.schedule|length > 0 %}
                                {% for user_flow_schedule in user_flow.schedule %}
                                    {% if forloop.last %}
                                        <input type="text" class="input-text text-center readonly w-100" value="{{ user_flow_schedule.get_join_display }}" readonly>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if user_flow.schedule|length > 0 %}
                                {% for user_flow_schedule in user_flow.schedule %}
                                    {% if forloop.last %}
                                        {% if user_flow_schedule.manager.manager_profile %}
                                            {% if user_flow_schedule.manager.manager_profile.image %}
                                                <img src="{{ user_flow_schedule.manager.manager_profile.image.url }}" class="user-image me-2">
                                            {% else %}
                                                <img src="{% static 'img/manager-none.png' %}" class="user-image me-2">
                                            {% endif %}
                                        {% else %}
                                            <img src="{% static 'img/manager-none.png' %}" class="user-image me-2">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if user_flow.schedule|length > 0 %}
                                {% for user_flow_schedule in user_flow.schedule %}
                                    {% if forloop.last %}
                                        {% if user_flow_schedule.online_facility %}
                                            <input type="text" class="input-text text-center readonly w-100" value="{{ user_flow_schedule.online_facility.name }}" readonly>
                                        {% elif user_flow_schedule.offline_facility %}
                                            <input type="text" class="input-text text-center readonly w-100" value="{{ user_flow_schedule.offline_facility.name }}" readonly>
                                        {% else %}
                                            <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                            {% endif %}
                        </td>
                        <td>
                            <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt-0" colspan="5">
                            {% if user_flow.memo %}
                                <input type="text" class="input-text readonly ps-1 w-100" value="{{ user_flow.memo }}" readonly>
                            {% else %}
                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#edit_step_modal"></button>