.profile-area {
    width: 17rem;
    background: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 0.8rem 1rem rgb(0 0 0 / 0.14);
}
.profile-area .user-image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-area .title {
    font-size: 0.8rem;
    font-weight: bold;
}
.profile-area .edit-button {
    color: #fff;
    font-size: 0.7rem;
    background-color: #00b074;
    border-radius: 0.25rem;
    border: none;
}
.profile-area .input-label {
    color: #000;
    font-size: 0.7rem;
}
.profile-area .input-textarea {
    margin: 0;
    width: 12rem;
    height: 100px;
}
.profile-area .tag-area {
    width: 12rem;
}
.profile-area .tag-area .tag-label {
    width: 4.25rem;
    font-size: 0.6rem;
    color: #FFF;
    background-color: #666F86;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-area {
    width: calc(100% - 18rem);
}

.detail-area .step-area .table-area tbody,
.step-modal .table-area tbody {
    cursor: pointer;
}
.detail-area .step-area .table-area tr td,
.step-modal .table-area tr td {
    height: 40px;
}
.detail-area .step-area .table-area tr,
.step-modal .table-area tr {
    height: 60px;
    background-color: #FFF !important;
}
.detail-area .step-area .table-area tr:nth-of-type(2n),
.step-modal .table-area tr:nth-of-type(2n) {
    height: 44px;
}
.detail-area .step-area .table-area tr:nth-of-type(4n-1),
.detail-area .step-area .table-area tr:nth-of-type(4n),
.step-modal .table-area tr:nth-of-type(4n-1),
.step-modal .table-area tr:nth-of-type(4n) {
    background-color: #ebebeb !important;
}
.detail-area .step-area .table-area .process,
.step-modal .table-area .process {
    width: 20px;
    height: 20px;
    background-color: #d0d6de;
    border-radius: 50%;
}
.detail-area .step-area .table-area .process.pass,
.step-modal .table-area .process.pass {
    background-color: #ff5b5b !important;
}
.detail-area .step-area .table-area .process.pass:after,
.step-modal .table-area .process.pass:after {
    background-color: #ff5b5b !important;
}
.detail-area .step-area .table-area .process.any:after,
.step-modal .table-area .process.any:after {
    content: "";
    position: absolute;
    top: -42%;
    left: 25px;
    width: 2px;
    height: 84px;
    background-color: #d0d6de;
}
.detail-area .step-area .table-area .content-date,
.step-modal .table-area .content-date {
    bottom: 2rem !important;
}
.detail-area .step-area .table-area .content-course,
.step-modal .table-area .content-course {
    position: absolute;
    top: 2.2rem;
    font-size: 0.5rem;
    font-weight: 500;
    color: #707070;
}
.detail-area .step-area .table-area .online-offline-mark,
.step-modal .table-area .online-offline-mark {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    display: inline-block;
    color: #fff;
    font-size: 0.65rem;
    font-weight: bold;
    text-align: center;
    background-color: #00b074;
    border: none;
    border-radius: 40px;
    vertical-align: middle;
}
.detail-area .step-area .table-area .input-date,
.step-modal .table-area .input-date {
    width: 20%;
    text-align: left;
    background: url(../../img/icon/calendar.svg) no-repeat, #fff;
    background-position: 95%;
    background-size: 0.75rem;
}

.detail-area .question-area .table-area tr td {
    height: 80px;
}



.modal .modal-body .input-label {
    color: #000;
    font-size: 0.8rem;
}
.modal .modal-body .input-text,
.modal .modal-body .input-textarea,
.modal .modal-body .dropdown,
.modal .modal-body .tag-area {
    width: 65%;
}
.modal .modal-body .input-textarea {
    margin: 0;
}
.modal .modal-body .dropdown .input-text {
    width: 100%;
}
.modal .modal-body .tag-area .tag-label {
    width: 4.25rem;
    font-size: 0.6rem;
    color: #FFF;
    background-color: #666F86;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal .modal-body .add-tag-button {
    color: #007aff;
    font-size: 0.8rem;
    background: url(../../img/icon/plus-blue.svg) no-repeat;
    background-size: 0.8rem;
    background-position: 0;
    cursor: pointer;
}
.modal .modal-body .tag-area .delete-tag-button {
    position: absolute;
    top: -30%;
    right: 0%;
}
.modal .modal-body .tag-area .delete-tag-button img {
    width: 15px;
    height: 15px;
    background-color: #7c7b69;
    border-radius: 50%;
}

.modal .modal-header .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.modal .modal-header .title {
    font-size: 0.8rem;
    font-weight: bold;
}
.modal .modal-header .sub {
    font-size: 0.6rem;
    font-weight: bold;
}
.modal .modal-header .edit-button {
    margin-left: auto;
    width: 6.25rem;
    height: 1.9rem;
    color: #fff;
    font-size: 0.75rem;
    background-color: #007AFF;
    border: none;
    border-radius: 0.4rem;
    line-height: 0.8rem;
}

.modal .modal-footer .yes-button,
.modal .modal-footer .save-button {
    padding: 5px;
    width: 100px;
    color: #FFF;
    font-size: 12px;
    background-color: #007AFF;
    margin-right: 0.8rem;
}
.modal .modal-footer .no-button {
    padding: 5px;
    width: 100px;
    font-size: 12px;
    background-color: #efefef;
}

/* iPad用レスポンシブ */
@media screen and (max-width: 1180px) {
    .table-area-tablet {
        overflow-x: auto;
    }
    .table-tablet {
        min-width: 45rem;
        border-collapse: collapse;
    }

    .question-area .table-area .table .memo-tablet {
        width: 420px !important;
    }
}


/* スマホ用レスポンシブ */
@media screen and (max-width: 932px) {
    .question-area .table-area .table thead tr .blank-sp {
        width: 40px !important;
    }
    .question-area .table-area .table thead tr .memo-tablet{
        width: 230px !important;
    }

}