{% load static %}
{% load humanize %}
{% load original %}

<div class="message-area position-relative">
    <div class="content-area ps-3 pe-3 mb-2 d-none"></div>
    <div class="content-loader-area">
        <div class="loader-area d-flex align-items-center position-absolute text-center">
            <div class="table-loader spinner-border">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="h5 fw-bold ms-3 mb-0">Loading...</p>
        </div>
    </div>
    <input type="hidden" id="send_id" value="{{ line_message_user.display_id }}">
    {% if request.user.authority > 1 %}
        {% for line_user_item in line_user %}
            {% if line_user_item.user.display_id == line_message_user.display_id %}
                <div id="send_{{ line_user_item.user.display_id }}_area" class="send-area p-3 pb-1 position-relative">
                    <form id="send_{{ line_user_item.user.display_id }}_form" action="{% url 'talk:send_text' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                        <input type="hidden" name="id" value="{{ line_user_item.user.display_id }}">
                        <textarea name="message" class="d-block input-textarea" placeholder="メッセージを入力してください"></textarea>
                    </form>
                    <img src="{% static 'img/icon/emoji.png' %}">
                </div>
            {% else %}
                <div id="send_{{ line_user_item.user.display_id }}_area" class="send-area d-none p-3 pb-1 position-relative">
                    <form id="send_{{ line_user_item.user.display_id }}_form" action="{% url 'talk:send_text' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                        <input type="hidden" name="id" value="{{ line_user_item.user.display_id }}">
                        <textarea name="message" class="d-block input-textarea" placeholder="メッセージを入力してください"></textarea>
                    </form>
                    <img src="{% static 'img/icon/emoji.png' %}">
                </div>
            {% endif %}
        {% endfor %}
        <div class="action-area d-flex justify-content-between align-items-center ps-3 pe-3">
            <div class="menu-area d-flex justify-content-between align-items-center">
                <div class="dropdown input-select-dropdown d-inline-block p-0">
                    <button id="select_template" class="btn template-button position-relative" data-bs-toggle="dropdown">
                        <span>テンプレートを使用する</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="select_template">
                        <button type="button" value="0" class="btn select_template_button dropdown-item fw-bold text-center p-1">メッセージ</button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_text_modal"></button>
                        <button type="button" value="1" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">動画</button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_video_modal"></button>
                        <button type="button" value="2" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">リッチメッセージ</button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_richmessage_modal"></button>
                        <button type="button" value="3" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">リッチビデオ</button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_richvideo_modal"></button>
                        <button type="button" value="4" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">カードタイプ</button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_cardtype_modal"></button>
                    </div>
                </div>
                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_modal"></button>
                <button class="btn name-button position-relative">
                    <span>応募者の登録名</span>
                </button>
                <button class="btn video-button">
                    <i class='bx bx-play-circle mt-1'></i>
                </button>
                <input type="file" id="video_file" name="video_file" accept=".mp4" style="display: none;">
                <input type="hidden" id="send_video_url" value="{% url 'talk:send_video' %}">
                <button type="button" id="upload_video_modal_button" class="d-none" data-bs-toggle="modal" data-bs-target="#upload_video_modal"></button>
                <button class="btn image-button">
                    <img src="{% static 'img/icon/image.svg' %}">
                </button>
                <input type="file" id="image_file" name="image_file" accept=".png, .jpg, .jpeg" style="display: none;">
                <input type="hidden" id="send_image_url" value="{% url 'talk:send_image' %}">
                <button type="button" id="upload_image_modal_button" class="d-none" data-bs-toggle="modal" data-bs-target="#upload_image_modal"></button>
            </div>
            <div class="button-area">
                <button id="line_message_send_button" class="btn ps-4">送信</button>
            </div>
        </div>
    {% endif %}
</div>