{% load static %}
{% load humanize %}
{% load original %}

<div class="list-area">
    <input type="hidden" id="update_talk_flg" value="True">
    <input type="hidden" id="update_talk_url" value="{% url 'talk:update_talk' %}">
    <div class="search-area position-relative">
        <div class="row">
            <div class="col-12">
                <input type="hidden" id="user_search_url" value="{% url 'talk:search_user' %}">
                <input type="text" id="user_search" class="input-text d-block ps-2 pe-2" placeholder="名前で検索">
            </div>
        </div>
    </div>
    <input type="hidden" id="change_user_url" value="{% url 'talk:change_user' %}">
    <div class="user-area pb-2">
        <div class="content-loader-area">
            <div class="loader-area d-flex align-items-center position-absolute text-center">
                <div class="table-loader spinner-border">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="h5 fw-bold ms-3 mb-0">Loading...</p>
            </div>
        </div>
    </div>
</div>