{% load static %}

<div id="more_template_modal" class="modal select-modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-block ps-4 pe-4">
                <div class="row">
                    <div class="col-11">
                        <p class="modal-title">テンプレートを選択</p>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body d-block pb-1">
                <div class="cardtype-area">
                    <div class="row">
                        <div class="col-3 offset-3">
                            <img src="{% static 'img/cardtype/more-simple.png' %}" class="d-none">
                            <img src="{% static 'img/cardtype/more-simple-select.png' %}">
                            <div class="input-radio-wrap position-relative mb-1">
                                <label for="more_template_simple" class="ps-4 mb-0">シンプル</label>
                                <input type="radio" id="more_template_simple" name="more_template" value="1" class="input-radio" checked>
                                <label for="more_template_simple" class="input-radio-mark"></label>
                            </div>
                        </div>
                        <div class="col-3">
                            <img src="{% static 'img/cardtype/more-image.png' %}">
                            <img src="{% static 'img/cardtype/more-image-select.png' %}" class="d-none">
                            <div class="input-radio-wrap position-relative mb-1">
                                <label for="more_template_image" class="ps-4 mb-0">写真</label>
                                <input type="radio" id="more_template_image" name="more_template" value="2" class="input-radio">
                                <label for="more_template_image" class="input-radio-mark"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center ps-4 pe-4">
                <input type="hidden" id="modal_select_template">
                <button type="button" class="btn action-button select-button d-block">選択</button>
                <button type="button" class="btn action-button cancel-button d-block">キャンセル</button>
                <button type="button" class="up-modal-button d-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>