.card-area {
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 0.16);
}

.input-area-wrap {
    max-width: 800px;
}

.title-area .input-label {
    width: 3.2rem;
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
}
.title-area .input-text {
    width: 40%;
}
.title-area .description {
    color: #3b4043;
    font-size: 0.75rem;
    opacity: 0.5;
}

.input-area .text-area,
.input-area .image-area,
.input-area .video-area,
.input-area .chart-area {
    height: 10rem;
    border: 1px solid #e5e4ef;
    border-radius: 0.6rem;
    overflow-y: auto;
}
.input-area .text-area .emoji-mark {
    position: absolute;
    top: 12%;
    left: 2rem;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(-50%);
    cursor: pointer;
    object-fit: contain;
}

.input-area .image-area .image {
    width: 35%;
}
.input-area .image-area.half .image {
    width: 27.5%;
}
.input-area .image-area .image > img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.input-area .image-area .image .delete-button > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #7c7b69;
    border-radius: 50%;
}

.input-area .video-area .video {
    width: 35%;
}
.input-area .video-area .video > video {
    width: 100%;
    border-radius: 10px;
}
.input-area .video-area .video .delete-button > img {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #7c7b69;
    border-radius: 50%;
}
.input-area .video-display-area video {
    width: 50%;
    border-radius: 10px;
}
.input-area .video-display-area .delete-button > img {
    position: absolute;
    top: 0;
    left: 58%;
    width: 20px;
    height: 20px;
    background-color: #7c7b69;
    border-radius: 50%;
    cursor: pointer;
}

.input-area .text-area .false-textarea {
    height: 100%;
    color: #707070;
    font-size: 0.8rem;
}
.input-area .text-area .false-textarea:focus-visible {
    outline: 0px;
}
.input-area .text-area .false-textarea:empty:before {
    content: "メッセージを入力";
    color: #3b4043;
    font-size: 0.8rem;
    opacity: 0.5;
}
.input-area .text-area .false-textarea img {
    height: 0.8rem;
}

.input-area .action-area .menu-area .input-template-dropdown > button,
.input-area .action-area .menu-area .name-button,
.input-area .action-area .menu-area .input-action-dropdown > button {
    color: #007aff;
    font-size: 12px;
    border: none;
    border-radius: 41px;
    transition: all .3s ease-in-out;
}
.input-area .action-area .menu-area .input-template-dropdown > button:hover,
.input-area .action-area .menu-area .name-button:hover,
.input-area .action-area .menu-area .input-action-dropdown > button:hover {
    background-color: rgba(59,134,255,0.15);
}
.input-area .action-area .menu-area button img {
    width: 0.9rem;
    height: 0.9rem;
    object-fit: contain;
}
.input-area .action-area .menu-area button i {
    color: rgba(59,64,67,0.65);
    font-size: 17px;
}
.input-area .action-area .menu-area .dropdown-menu {
    max-height: 180px;
}

.input-area .delete-area img {
    width: 1.5rem;
}

.button-area {
    max-width: 800px;
}
.button-area .add-area button {
    width: 6rem;
    height: 30px;
    color: #00b074;
    font-size: 0.8rem;
    background-color: #fff;
    border: 2px solid #00b074;
    border-radius: 3px;
    line-height: 12px;
    cursor: pointer;
}
.button-area .save-area .copy-button {
    background-color: #007aff;
    border: 2px solid #007aff;
}
.button-area .save-area .save-button {
    background-color: #00b074;
    border: 2px solid #00b074;
}
.button-area .save-area .copy-button,
.button-area .save-area .save-button {
    width: 6rem;
    height: 30px;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 3px;
    line-height: 12px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.button-area .save-area .copy-button:hover,
.button-area .save-area .save-button:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.16);
}

.delete_area .delete-button {
    width: 200px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: red;
    border-radius: 0.3rem;
    border: none;
    transition: all 0.4s;
}
.delete_area .delete-button:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.16);
}