{% load static %}
{% load original %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include './meta.html' %}

        <title>{{ title }} | {{ site_name }}</title>
        <link href="{% static_cache 'img/favicon.jpg' %}" rel="icon" type="image/x-icon">

        {% include './css.html' %}
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <div class="content">
            <div class="inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% include './js.html' %}
        {% block js %}
        {% endblock %}
    </body>
</html>