.top-area {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 0.16);
}
.top-area p {
    color: #000;
    font-size: 0.8rem;
}

.main-area .title {
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.table-area tbody .check-button,
.mini-table-area tbody .check-button {
    width: 100%;
    color: #FFF;
    font-size: 0.7rem;
    background-color: #3b86ff;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transition: all .4s ease-in-out;
}