.input-text {
    height: 2rem;
    color: rgba(59,64,67,1);
    font-size: 0.8rem;
    border: 1px solid #cdd6dd;
    border-radius: 0.4rem;
    line-height: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-textarea {
    margin: 0 auto;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    width: 100%;
    height: 38px;
    color: #3b4043;
    font-size: 0.8rem;
    border: 1px solid #cdd6dd;
    border-radius: 0.5rem;
    outline: none;
    resize: none;
    overflow: hidden;
}
.input-text.readonly,
.input-textarea.readonly {
    color: rgba(59,64,67,0.5);
}
.input-text:focus,
.input-textarea:focus {
    border-color: #727b94;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(102 111 134 / 10%);
}
.input-text:focus-visible,
.input-textarea:focus-visible {
    outline: 0px;
}
.input-text::placeholder,
.input-textarea::placeholder {
    color: #afafaf;
}

.input-select-dropdown .input-select,
.input-color-select-dropdown .input-select {
    background: url(../img/icon/select-arrow.svg) no-repeat,#fff;
    background-position: 95%;
    background-size: 0.6rem 0.4rem;
    cursor: pointer;
}
.input-select-dropdown .dropdown-menu,
.input-template-dropdown .dropdown-menu,
.input-action-dropdown .dropdown-menu,
.input-color-select-dropdown .dropdown-menu {
    min-width: 100%;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: overlay;
    animation-duration: 0s;
}
.input-select-dropdown .dropdown-menu button,
.input-template-dropdown .dropdown-menu button,
.input-action-dropdown .dropdown-menu button,
.input-color-select-dropdown .dropdown-menu button {
    font-size: 0.7rem;
}

.input-radio-wrap label {
    font-size: 0.7rem;
}
.input-radio-wrap .input-radio {
    display: none;
}
.input-radio-wrap .input-radio-mark {
    position: absolute;
    top: 10%;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border: 1px solid #cdd6dd;
    border-radius: 50%;
}
.input-radio-wrap .input-radio-mark:after {
    content: "";
    position: absolute;
    display: none;
    top: 51.9%;
    left: 51.9%;
    width: 10.5px;
    height: 10.5px;
    background: #004bb1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.input-radio-wrap .input-radio:checked ~ .input-radio-mark:after {
    display: block;
}

.input-check-wrap {
    position: relative;
    color: #000;
    font-size: 0.8rem;
    cursor: pointer;
}
.input-check-wrap label {
    font-size: 0.8rem;
    cursor: pointer;
}
.input-check-wrap .input-check {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}
.input-check-wrap .input-check-mark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #c3daff;
}
.input-check-wrap .input-check-mark:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.input-check-wrap .input-check:checked ~ .input-check-mark {
    background-color: #3b86ff;
    border: none;
}
.input-check-wrap .input-check:checked ~ .input-check-mark:after {
    display: block;
}

.copy-icon {
    font-size: 16px;
    cursor: pointer;
}
.copy-toast-area {
    position: absolute;
    top: -30%;
    right: 0;
    z-index: 1000;
}
.copy-toast {
    width: 150px;
    color: #FFF;
    font-weight: bold;
    border: 0;
    background-color: rgba(0,176,116,0.8);
    box-shadow: 0 0 0 0;
}
.copy-toast .toast-body {
    padding: 7.5px 10px;
}

.all-loader-area {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, .5);
    z-index: 2147483647;
}
.all-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2147483647;
}
.all-loader span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2147483647;
}

.error-message-area {
    background-color: #ffe7de;
    border: 1px solid red;
    border-radius: 0.5rem;
}
.error-message-area .error-message {
    color: red;
}

.parsley-errors-list {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0.5rem;
    list-style-type: none;
}
.parsley-errors-list li {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
}
.parsley-error {
    border: 1px solid red !important;
}

button:focus {
    box-shadow: 0 0 0 0 !important;
}