.header {
    top: 0.2rem;
    right: 0.75rem;
    justify-content: space-between;
    z-index: 1000;
}
.header .header-dropdown .name {
    max-width: 110px;
    color: #000;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
}
.header .header-dropdown .manager-image {
    width: 2.75rem;
    height: 2.75rem;
}
.header .header-dropdown button {
    max-width: 15rem;
    height: 100%;
    color: #000;
    border-radius: 1.3rem;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.header .header-dropdown button:focus {
    box-shadow: 0 0 0 0;
}
.header .header-dropdown .dropdown-menu {
    left: auto !important;
    right: 0 !important;
    width: 24rem;
    text-align: center;
    background-color: #f4f4f4;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.16);
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header .header-dropdown .dropdown-menu .info-area img {
    border: 1px solid #a5c9ff;
    border-radius: 50%;
    object-fit: cover;
}
.header .header-dropdown .dropdown-menu .info-area .authority {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.8rem;
}
.header .header-dropdown .dropdown-menu .link-area {
    font-size: 0.8rem;
}
.header .header-dropdown .dropdown-menu .link-area .setting-link {
    color: #007aff;
    font-weight: 600;
}
.header .header-dropdown .dropdown-menu .link-area .logout-link {
    color: red;
    font-weight: 600;
}

.side-sp,
.logo-area-sp {
    display: none !important;
}


/* スマホ用レスポンシブ */
@media screen and (max-width: 932px) {
    .header {
        width: 97%;
        background-color: #fff;
    } 

    .header .menu-area-sp {
        width: 2.8rem !important;
        height: 2.8rem !important;
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
    .header .menu-area-sp span {
        display: block;
        position: absolute;
        width: 2.5rem;
        border-bottom: solid 1px #333;
    }
    .header .menu-area-sp span:nth-child(1) {
        top: 1rem;
    }
    .header .menu-area-sp span:nth-child(2) {
        top: 2rem;
    }
    .header .menu-area-sp span:nth-child(3) {
        top: 3rem;
    }

    .logo-area-sp {
        display: block !important;
    }
    .logo-area-sp img {
        width: 6rem !important;
        height: auto !important;
    }

    .com-area {
        background-color: #fff;
        margin: 0 !important;
        padding: 3rem 1.5rem !important;
    }

}