.modal .modal-title {
    font-size: 1rem;
}
.modal .modal-description {
    color: rgba(59,64,67,0.5);
    font-size: 0.8rem;
}
.modal-content .modal-body .description {
    color: #3b4043;
    font-size: 0.75rem;
    opacity: 0.5;
}

.modal-content .modal-body {
    max-height: 65vh;
    overflow-y: auto;
}
.modal-content .modal-body .yes-button {
    padding: 5px;
    width: 90%;
    color: #FFF;
    font-size: 12px;
    background-color: #007AFF;
}
.modal-content .modal-body .no-button {
    padding: 5px;
    width: 90%;
    font-size: 12px;
    background-color: #efefef;
}
.modal-content .modal-body .close-button {
    padding: 5px;
    width: 50%;
    color: #FFF;
    font-size: 12px;
    background-color: red;
}

.modal-content .modal-loader-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.modal .modal-footer .cancel-button {
    color: #4d4d4d;
    background-color: #efefef;
}

.modal .modal-header .cancel-button {
    padding: 5px;
    width: 100px;
    font-size: 12px;
    background-color: #efefef;
}

.up-modal {
    z-index: 1065;
}

#head_question_modal .modal-body .table-area .table tbody tr td,
#company_question_modal .modal-body .table-area .table tbody tr td{
    padding: 1.5rem 0.75rem !important;
}

/* スマホ用レスポンシブ */
@media screen and (max-width: 932px) {
    .modal-dialog {
        margin: 0.25rem auto;
    }

    #company_template_video_modal .modal-dialog{
        max-width: 750px !important;
    }

    #company_question_modal .modal-dialog {
        max-width: 750px;

    }


}