.side {
    top: 0;
    bottom: 0;
    margin-top: 0;
    width: 170px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 0.03);
    z-index: 1000;
}
.side-area {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.side-area .logo-area .logo-img {
    width: 5.5rem;
    height: 3.5rem;
    vertical-align: middle;
    object-fit: contain;
}
.side-area .logo-area p {
    margin-top: -0.5rem;
    color: #b9bbbd;
    font-size: 0.7rem;
    line-height: 1.4rem;
}
.side-area .logo-area .account-img {
    width: 2rem;
    height: 2rem;
    border: 1px solid #a5c9ff;
    border-radius: 50%;
    vertical-align: middle;
    object-fit: cover;
}
.side-area .logo-area span {
    font-size: 0.7rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.side-area .menu-area ul {
    width: 100%;
    height: calc(100% - 81px);
    list-style: none;
    list-style-type: none;
    overflow: auto;
    flex-direction: column;
}
.side-area .menu-area ul li {
    margin: 0 auto;
    min-height: 30px;
    width: 100%;
}
.side-area .menu-area ul li:before {
    content: none;
    position: absolute;
    top: 0;
    left: -0.3rem;
    width: 0.6rem;
    height: 1.9rem;
    background-color: #00b074;
    border-radius: 1rem;
}
.side-area .menu-area .slide-menu li:before {
    content: none;
    position: absolute;
    top: 0;
    left: -1.8rem;
    width: 0.6rem;
    height: 1.9rem;
    background-color: #00b074;
    border-radius: 1rem;
}
.side-area .menu-area ul li.active:before {
    content: " ";
}
.side-area .menu-area .slide-menu a img.side-sub-icon {
    display: none;
}

.side-area .menu-area ul li a,
.side-area .menu-area ul li .slide-button {
    margin: 0 auto;
    width: 82%;
    height: 100%;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    transition: all .4s;
}
.side-area .menu-area ul li a:hover {
    background-color: rgba(0,176,116,0.08);
    border-radius: 0.2rem;
}
.side-area .menu-area ul li.active a {
    background-color: rgba(0,176,116,0.15);
    border-radius: 0.2rem;
}
.side-area .menu-area ul li a img,
.side-area .menu-area ul li .slide-button img {
    width: 0.75rem;
    height: 0.75rem;
}
.side-area .menu-area ul li a i {
    color: #000;
    font-size: 0.75rem;
}
.side-area .menu-area ul li.active a img.side-icon {
    filter: invert(0.66) sepia(0.52) saturate(4.55) hue-rotate(108deg) brightness(0.88) contrast(0.94);
}
.side-area .menu-area ul li a span,
.side-area .menu-area ul li .slide-button span {
    color: #000;
    font-size: 0.75rem;
    line-height: 1.4rem;
}
.side-area .menu-area ul li.active a span {
    color: #3dc394;
}
.side-area .menu-area ul li a .alert-badge {
    width: 1.1rem;
    height: 1.1rem;
    color: #FFF !important;
    font-size: 0.6rem;
    background: red !important;
    border-radius: 50%;
}
.side-area .menu-area ul li a .notice-badge {
    width: 1.1rem;
    height: 1.1rem;
    color: #723036 !important;
    font-size: 0.6rem;
    background: #fff200 !important;
    border-radius: 50%;
}

.side-area .menu-area .slide-menu {
    display: none;
}
.side-area .menu-area .slide-open {
    display: block;
}
.side-area .menu-area .slide-menu {
    overflow: hidden;
}
.side-area .menu-area .slide::after {
    border-right: solid 1px #495057;
    border-top: solid 1px #495057;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 5px;
    top: 35%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
    margin-right: 0.5rem;
}
.side-area .menu-area .slide-open::after{
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    transform: rotate(-45deg) !important;
}

.side-area .menu-area .active-cursor::after{
    border-right: solid 1px #495057;
    border-top: solid 1px #495057;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 5px;
    top: 35%;
    transform: rotate(-45deg) !important;
    transition-duration: 0s;
    width: 8px;
    margin-right: 0.5rem;
    transition-duration: 0s;
}


.side-area .menu-area .slide-active {
    display: block;
}

.side-area .com-area {
    margin: 0 auto;
    width: 100%;
    min-height: 30px;
}
.side-area .com-area p {
    color: #969ba0;
    font-size: 0.75rem;
    font-weight: 600;
}
.side-area .com-area p:last-child {
    font-weight: 300;
}

.side-sp {
    display: none;
    top: 0;
    bottom: 0;
    margin-top: 0;
    width: 170px;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 0.03);
    z-index: 1000;
    overflow: hidden scroll !important;
}

/* iPad用レスポンシブ */
@media screen and (max-width: 1180px) {
    .side {
        display: block !important;
        width: 125px;
        background-color: #FFF;
        overflow: hidden scroll !important;
    }

    .side-area .logo-area .logo-img {
        width: 4rem !important;
        height: 2rem !important;
        margin-bottom: 0.4rem !important;
    }
    .side-area .logo-area p {
        font-size: 0.6rem !important;
        margin-top: 0 !important;
        line-height: 1 !important;
    }
    .side-area .logo-area span {
        font-size: 0.6rem !important;
    }

    .side-area .menu-area ul li a,
    .side-area .menu-area ul li .slide-button,
    .side-area .menu-area ul li .slide-menu li a {
        display: block !important;
        text-align: center;
        width: 100%;
        padding-left: 0 !important;
        margin-bottom: 0.5rem !important;
    }  

    .side-area .menu-area .slide-menu {
        padding-left: 0 !important;
    }
    .side-area .menu-area .slide-menu a img.side-sub-icon {
        display: none;
    }
    .side-area .menu-area img,
    .side-area .menu-area span {
        display: block ;
        text-align: center;
        width: 100%;
        margin: 0 auto !important;
    }
    .side-area .menu-area ul li:before,
    .side-area .menu-area .slide-menu li:before {
        height: 2.8rem;
        left: -0.3rem;
    }
    .side-area .menu-area ul li a .bx {
        display: block;
        margin: 0 auto !important;
    }
    
    .side-area .com-area {
        margin-top: 1rem !important;
    }
    .side-area .com-area p {
        font-size: 0.6rem  !important;
    }
}

/* スマホ用レスポンシブ */
@media screen and (max-width: 932px) {
    .side {
        display: none !important;
        width: 0 ;
    }
    .head-side,
    .company-side {
        min-height: 100vh !important;
    }

    .side-area .logo-area p {
        line-height: 1.4 !important;
    }

    /* header */
    .side-sp {
        display: block !important;
        position: fixed;
        left: -150px;
        top:4rem;
        width: 125px !important;
        height: 100%;
        transition: 0.5s ease;
    }
    .side-sp.open {
        left: 0 !important;
    }
    .side-sp span {
        font-size: 0.7rem !important;
    }
}