.table-area {
    width: 100%;
    border-radius: 0.5rem;
    background: rgba(0,0,0,0);
    box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 0.16);
}
.table-area .table {
    width: 100%;
    color: #000;
    font-weight: 600;
    background: #fff;
    border-radius: 0.2rem;
    border-spacing: 0;
    table-layout: fixed;
    overflow-y: overlay;
}
.table-area .table .sort-area {
    cursor: pointer;
}
.table-area .table .sort-area button {
    color: #000;
    font-weight: 600;
}
.table-area .table thead {
    text-align: left;
    border: 0;
}
.table-area .table thead th {
    position: sticky;
    background: #fff;
    border: 0;
    z-index: 100;
}
.table-area .table thead th:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 0.05rem solid rgba(60,60,67,0.36);
}
.table-area .table tbody {
    max-height: 340px;
    vertical-align: middle;
    overflow-y: overlay;
}
.table-area .table tbody tr:nth-child(2n) {
    background-color: #ebebeb;
}
.table-area .table tbody tr.active {
    background-color: rgba(0,176,116,.15);
}
.table-area .parent-table tbody tr.active,
.table-area .children-table tbody tr.active {
    background-color: #ebebeb;
}

.table-area table tbody tr td .dropdown > button {
    padding-top: 0;
    padding-bottom: 0;
}
.table-area table tbody tr td .dropdown-menu {
    left: -100% !important;
    min-width: 85px;
    inset: auto !important;
    transform: none !important;
    z-index: 10001;
}
.table-area table tbody tr td .dropdown-menu .dropdown-item {
    height: 100%;
    background-color: #FFF;
}

.table-area .table tbody .company-image,
.table-area .table tbody .shop-image {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #a5c9ff;
    border-radius: 50%;
    object-fit: cover;
}
.table-area .table tbody .content-title {
    width: 100%;
    height: 1.05rem;
    font-size: 0.75rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.table-area .table tbody .content-date {
    position: absolute;
    bottom: 1rem;
    font-size: 0.5rem;
    font-weight: 500;
    color: #707070;
}
.table-area .table tbody .content-tag {
    width: 4rem;
    font-size: 0.6rem;
    color: #FFF;
    background-color: #666F86;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-area .table tbody .menu-icon {
    color: #707070;
    font-size: 20px;
    cursor: pointer;
}
.table-area .table tbody .favorite-icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.table-area .table tbody .folder-icon {
    font-size: 16px;
}

.table-area .table tbody .genre-mark {
    color: #707070;
    font-size: 0.7rem;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 0.2rem;
}

.table-area .table tbody .preview-button {
    width: 80px;
    height: 1.75rem;
    color: #FFF;
    font-size: 0.7rem;
    text-align: right;
    background: url(../img/icon/search-white.svg) no-repeat;
    background-color: #6C757D;
    border-radius: 0.2rem;
    background-position: 5%;
    background-size: 0.75rem;
    line-height: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 0.2);
}
.table-area .table tbody .detail-button {
    width: 75px;
    height: 1.75rem;
    color: #FFF;
    font-size: 0.7rem;
    background-color: #0b2b50;
    border-radius: 0.2rem;
    line-height: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 0.2);
}

.table-area {
    transition: 0.3s;
}
.table-loader {
    width: 3rem;
    height: 3rem;
}
.table-loader-area {
    top: calc(50% + 15px);
    left: 50%;
    color: #000;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.3s;
}

.table > :not(caption) > * > * {
    border-bottom-width: 0px !important;
}