.table-area {
    width: 100%;
    border-radius: 0.5rem;
    background: rgba(0,0,0,0);
    box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 0.16);
}
.table-area .table {
    width: 100%;
    color: #000;
    font-weight: 600;
    background: #fff;
    border-radius: 0.2rem;
    border-spacing: 0;
    table-layout: fixed;
    overflow-y: overlay;
}
.table-area .table thead {
    text-align: left;
    border: 0;
}
.table-area .table thead th {
    position: sticky;
    background: #fff;
    border: 0;
    z-index: 100;
}
.table-area .table thead th:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 0.05rem solid rgba(60,60,67,0.36);
}
.table-area .table tbody {
    max-height: 340px;
    vertical-align: middle;
    overflow-y: overlay;
}
.table-area .table tbody tr:nth-child(2n) {
    background-color: #ebebeb;
}
.table-area .table tbody tr.active {
    background-color: rgba(0,176,116,.15);
}

.table-area table tbody tr td .dropdown > button {
    padding-top: 0;
    padding-bottom: 0;
}
.table-area table tbody tr td .dropdown-menu {
    left: -100% !important;
    min-width: 85px;
    inset: auto !important;
    transform: none !important;
    z-index: 10001;
}
.table-area table tbody tr td .dropdown-menu .dropdown-item {
    height: 100%;
    background-color: #FFF;
}

.table > :not(caption) > * > * {
    border-bottom-width: 0px !important;
}