.table-area tbody tr {
    height: 79px;
}
.table-area tbody tr .content-date {
    left: 3rem;
    bottom: 0.5rem;
}

.table-area table tbody tr td .dropdown-menu {
    right: -100% !important;
}

.modal .modal-header .company-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.modal .modal-header .title {
    font-size: 0.8rem;
    font-weight: bold;
}
.modal .modal-header .sub {
    font-size: 0.6rem;
    font-weight: bold;
}
.modal .modal-header .edit-button {
    margin-left: auto;
    width: 6.25rem;
    height: 1.9rem;
    color: #fff;
    font-size: 0.75rem;
    background-color: #007AFF;
    border: none;
    border-radius: 0.4rem;
    line-height: 0.8rem;
}
.modal .modal-body label {
    color: #000;
    font-size: 0.8rem;
}
.modal .modal-body input {
    color: #000;
    font-size: 0.8rem;
}
.modal .modal-body .input-label {
    color: #000;
    font-size: 0.8rem;
}
.modal .modal-body .input-text,
.modal .modal-body .input-textarea,
.modal .modal-body .dropdown,
.modal .modal-body .tag-area {
    width: 65%;
}
.modal .modal-body .input-textarea {
    margin: 0;
}
.modal .modal-body .dropdown .input-text {
    width: 100%;
}
.modal .modal-body .content .input-content {
    width: 65%;
}
.modal .modal-body .content .input-content input {
    width: 49%;
}
.modal .modal-body .tag-area .tag-label {
    width: 4.25rem;
    font-size: 0.6rem;
    color: #FFF;
    background-color: #666F86;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal .modal-body .add-tag-button {
    color: #007aff;
    font-size: 0.8rem;
    background: url(../../img/icon/plus-blue.svg) no-repeat;
    background-size: 0.8rem;
    background-position: 0;
    cursor: pointer;
}
.modal .modal-body .tag-area .delete-tag-button {
    position: absolute;
    top: -30%;
    right: 0%;
}
.modal .modal-body .tag-area .delete-tag-button img {
    width: 15px;
    height: 15px;
    background-color: #7c7b69;
    border-radius: 50%;
}
.modal .modal-footer .action-button {
    width: 15rem;
    height: 35px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #007AFF;
    border: none;
    border-radius: 0.4rem;
    line-height: 0.8rem;
}

.offcanvas .offcanvas-header .company-image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}
.offcanvas .offcanvas-body .tag-area .tag-label {
    width: 4.25rem;
    font-size: 0.6rem;
    color: #FFF;
    background-color: #666F86;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 1180px) {
    .head .table-area .table th{
        padding: 0.75rem 0.25rem !important;
    }
    .head .table-area .table .tag-tablet {
        width: 180px !important;
    }

}

