{% extends '../base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/user/detail.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <p class="main-title mb-3">{{ title }}</p>
        </div>
        <div class="col-7 d-flex justify-content-end align-items-center">
            {% if not user.member_flg %}
                <input type="hidden" id="get_user_url" value="{% url 'user:get' %}">
                <button type="button" value="{{ user.display_id }}" class="btn d-flex align-items-center main-button member-button p-0 me-3 mb-3">
                    <i class='bx bx-check-square me-1'></i>
                    <span>会員登録</span>
                </button>
                <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#member_user_check_modal"></button>
            {% endif %}
        </div>
    </div>
    <div class="shop">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-top">
                    {% include 'temp/profile.html' %}
                    <div class="detail-area">
                        {% include 'temp/step.html' %}
                        {% include 'temp/question.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'modal.html' %}
        {% include 'template/text/modal/text.html' %}
        {% include 'template/video/modal/video.html' %}
        {% include 'template/richmessage/modal/richmessage.html' %}
        {% include 'template/richvideo/modal/richvideo.html' %}
        {% include 'template/cardtype/modal/cardtype.html' %}
        {% include 'temp/modal/user.html' %}
        {% include 'temp/modal/step.html' %}
        {% include 'temp/modal/question.html' %}
        {% include 'tag/modal/tag.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/template/text/modal.js' %}"></script>
    <script src="{% static 'js/template/video/modal.js' %}"></script>
    <script src="{% static 'js/template/richmessage/modal.js' %}"></script>
    <script src="{% static 'js/template/richvideo/modal.js' %}"></script>
    <script src="{% static 'js/template/cardtype/modal.js' %}"></script>
    <script src="{% static 'js/tag/modal.js' %}"></script>
    <script src="{% static 'js/temp/detail/action.js' %}"></script>
    <script src="{% static 'js/temp/detail/data.js' %}"></script>
{% endblock %}