{% extends '../base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/user/index.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }}</p>
        </div>
    </div>
    <div class="shop">
        <input type="hidden" id="get_user_url" value="{% url 'temp:get' %}">
        <div class="row">
            <div class="col-12">
                <div class="table-control-area mb-2">
                    <div class="d-flex align-items-center">
                        {% include 'table/number.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-area mb-3">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="blank-sp" style="width: 30px;"></th>
                                {% include 'table/sort.html' with text='お客様氏名' target='user_profile__name_kana' %}
                                {% include 'table/sort.html' with text='お客様ID' target='user_profile__atelle_id' width='120' %}
                                {% include 'table/sort.html' with text='ステータス' target='user_flow__number' width='140' %}
                                <th class="tag-sp" style="width: 230px;">#タグ</th>
                                <th style="width: 155px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object_item in object_list %}
                                <tr class="position-relative">
                                    <td class="p-1">
                                        {% if object_item.alert %}
                                            {% if object_item.alert.status == 2 %}
                                                <img src="{% static 'img/icon/notice.png' %}" class="ms-2 notice-image">
                                                <label class="notice-text mb-0 p-1 ps-2 pe-2">{{ object_item.alert.text }}</label>
                                            {% elif object_item.alert.status == 3 %}
                                                <img src="{% static 'img/icon/warning.svg' %}" class="ms-2 alert-image">
                                                <label class="alert-text mb-0 p-1 ps-2 pe-2">{{ object_item.alert.text }}</label>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="position-relative p-1">
                                        <div class="d-flex justify-content-start align-items-center">
                                            {% for user_profile in object_item.user_profile.all %}
                                                {% if forloop.first %}
                                                    {% if user_profile.image %}
                                                        <img src="{{ user_profile.image.url }}" class="user-image me-2">
                                                    {% elif object_item.display_image %}
                                                        <img src="{{ object_item.display_image }}" class="user-image me-2">
                                                    {% else %}
                                                        <img src="{% static 'img/user-none.png' %}" class="user-image me-2">
                                                    {% endif %}
                                                    {% if user_profile.name %}
                                                        {% if user_profile.age %}
                                                            <p class="d-flex align-items-center content-title mb-0">
                                                                <span>{{ user_profile.name }} ({{ user_profile.age }})</span>
                                                                {% if object_item.member_flg %}
                                                                    <img src="{% static 'img/icon/member-yes.png' %}" class="ms-1" width="12" height="12">
                                                                {% else %}
                                                                    <img src="{% static 'img/icon/member-no.png' %}" class="ms-1" width="12" height="12">
                                                                {% endif %}
                                                            </p>
                                                        {% else %}
                                                            <p class="d-flex align-items-center content-title mb-0">
                                                                <span>{{ user_profile.name }}</span>
                                                                {% if object_item.member_flg %}
                                                                    <img src="{% static 'img/icon/member-yes.png' %}" class="ms-1" width="12" height="12">
                                                                {% else %}
                                                                    <img src="{% static 'img/icon/member-no.png' %}" class="ms-1" width="12" height="12">
                                                                {% endif %}
                                                            </p>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if user_profile.age %}
                                                            <p class="d-flex align-items-center content-title mb-0">
                                                                <span>{{ object_item.display_name }} ({{ user_profile.age }})</span>
                                                                {% if object_item.member_flg %}
                                                                    <img src="{% static 'img/icon/member-yes.png' %}" class="ms-1" width="12" height="12">
                                                                {% else %}
                                                                    <img src="{% static 'img/icon/member-no.png' %}" class="ms-1" width="12" height="12">
                                                                {% endif %}
                                                            </p>
                                                        {% else %}
                                                            <p class="d-flex align-items-center content-title mb-0">
                                                                <span>{{ object_item.display_name }}</span>
                                                                {% if object_item.member_flg %}
                                                                    <img src="{% static 'img/icon/member-yes.png' %}" class="ms-1" width="12" height="12">
                                                                {% else %}
                                                                    <img src="{% static 'img/icon/member-no.png' %}" class="ms-1" width="12" height="12">
                                                                {% endif %}
                                                            </p>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <p class="content-date mb-0">{{ object_item.created_at|date:'Y年m月d日 H:i' }}</p>
                                    </td>
                                    <td class="p-1">
                                        {% for user_profile in object_item.user_profile.all %}
                                            {% if forloop.first %}
                                                {% if user_profile.atelle_id %}
                                                    <p class="content-title mb-0">#{{ user_profile.atelle_id }}</p>
                                                {% else %}
                                                    <p class="content-title mb-0">-</p>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="p-1">
                                        {% if object_item.status == 2 %}
                                            <p class="content-title mb-0">ブロック</p>
                                        {% else %}
                                            {% if object_item.active_flow %}
                                                <p class="content-title mb-0">{{ object_item.active_flow.flow_tab.name }}</p>
                                            {% else %}
                                                <p class="content-title mb-0">-</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td class="p-1">
                                        {% for user_tag_item in object_item.tag %}
                                            <label class="content-tag text-center p-1 mt-1 mb-1">{{ user_tag_item.name }}</label>
                                        {% endfor %}
                                    </td>
                                    <td class="text-center p-1">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <button type="button" value="{{ object_item.display_id }}" class="btn preview-icon-button p-0 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="プレビュー">
                                                <img src="{% static 'img/icon/preview.png' %}" class="pt-1 pb-1">
                                            </button>
                                            <button type="button" class="d-none" data-bs-toggle="offcanvas" data-bs-target="#user_profile_offcanvas"></button>
                                            <a href="{% url 'temp:detail' %}?id={{ object_item.display_id }}" class="btn detail-icon-button p-1 me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="詳細">
                                                <img src="{% static 'img/icon/detail.png' %}">
                                            </a>
                                            <div class="dropdown button-area text-center d-inline-block p-0 me-3">
                                                <button type="button" id="dropdown_menu" class="btn p-0" data-bs-toggle="dropdown">
                                                    <i class='bx bx-dots-vertical-rounded menu-icon'></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdown_menu">
                                                    {% if not object_item.member_flg %}
                                                        <button type="button" value="{{ object_item.display_id }}" class="btn member-button dropdown-item fw-bold text-center">会員登録</a>
                                                        <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#member_user_check_modal"></button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'loader.html' %}
            </div>
        </div>
        <input type="hidden" id="table_paging_url" value="{% url 'temp:paging' %}">
        {% include 'table/paging.html' %}
        {% include 'modal.html' %}
        {% include 'temp/modal/user.html' %}
        {% include 'temp/offcanvas.html' %}
        {% include 'tag/modal/tag.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/tag/modal.js' %}"></script>
    <script src="{% static 'js/temp/index/append.js' %}"></script>
    <script src="{% static 'js/temp/index/action.js' %}"></script>
    <script src="{% static 'js/temp/index/data.js' %}"></script>
{% endblock %}