{% load static %}

<div class="offcanvas offcanvas-end" id="user_profile_offcanvas">
    <div class="offcanvas-header border-bottom">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/user-none.png' %}" class="user-image me-2">
            <div style="width: 100px;">
                <p class="title mb-0"></p>
                <p class="sub mb-0">-</p>
            </div>
            {% if request.user.authority > 1 %}
                <button type="button" class="btn edit-button">個人情報編集</button>
                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#edit_user_modal">個人情報編集</button>
            {% endif %}
            <button type="button" class="d-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
    <div class="offcanvas-body border-bottom p-0 pt-3 pb-3">
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">登録日</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">アトエルID</label>
            <input type="text" value="#" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">氏名</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">フリガナ</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">生年月日</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">年齢</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">性別</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center ps-3 pe-3 mb-2">
            <label class="input-label mb-0">電話番号</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-center border-bottom ps-3 pe-3 pb-3 mb-3">
            <label class="input-label mb-0">メール</br>アドレス</label>
            <input type="text" class="input-text readonly ps-2" readonly>
        </div>
        <div class="d-flex justify-content-between align-items-start border-bottom ps-3 pe-3 pb-3 mb-3">
            <label class="input-label mb-0"># タグ</label>
            <div class="tag-area"></div>
        </div>
        <div class="d-flex justify-content-between align-items-start ps-3 pe-3">
            <label class="input-label mb-0">メモ</label>
            <textarea class="input-textarea d-block ms-auto ps-2" style="height: 100px;" readonly></textarea>
        </div>
    </div>
</div>