{% extends '../base.html' %}

{% load static %}
{% load original %}

{% block css %}
    <link href="{% static_cache 'css/flow.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }} - 統括 - </p>
        </div>
    </div>
    <div class="head">
        <input type="hidden" id="save_flow_check_form" value="{% url 'head:flow:save_check' %}">
        <form id="save_flow_form" action="{% url 'head:flow:save' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
            <input type="hidden" name="id" value="{{ flow.display_id }}">
            {% include 'head/flow/title.html' %}
            {% include 'head/flow/flow.html' %}
        </form>
        {% include 'modal.html' %}
        {% include 'head/template/text/modal/text.html' %}
        {% include 'head/template/video/modal/video.html' %}
        {% include 'head/template/richmessage/modal/richmessage.html' %}
        {% include 'head/template/richvideo/modal/richvideo.html' %}
        {% include 'head/template/cardtype/modal/cardtype.html' %}
        {% include 'head/richmenu/modal/richmenu.html' %}
        {% include 'head/flow/modal/action.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static_cache 'js/head/template/text/modal.js' %}"></script>
    <script src="{% static_cache 'js/head/template/video/modal.js' %}"></script>
    <script src="{% static_cache 'js/head/template/richmessage/modal.js' %}"></script>
    <script src="{% static_cache 'js/head/template/richvideo/modal.js' %}"></script>
    <script src="{% static_cache 'js/head/template/cardtype/modal.js' %}"></script>
    <script src="{% static_cache 'js/head/richmenu/modal.js' %}"></script>
    <script src="{% static_cache 'js/head/flow/action.js' %}"></script>
    <script src="{% static_cache 'js/head/flow/data.js' %}"></script>
{% endblock %}