{% extends '../base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }} - 統括 - </p>
        </div>
    </div>
    <div class="head">
        <div class="row">
            <div class="col-12">
                <div class="table-control-area mb-2">
                    <div class="d-flex align-items-center">
                        <input type="text" class="input-text search-input ps-2 pe-2" value="{{ table_search }}" placeholder="登録名">
                        <input type="hidden" id="table_search_url" value="{% url 'head:flow:search' %}">
                        {% include 'table/number.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-area mb-3">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                {% include 'table/sort.html' with text='登録名' target='name' %}
                                <th style="width: 500px;">フロー</th>
                                <th style="width: 100px;">有効</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% include 'loader.html' %}
            </div>
        </div>
        <input type="hidden" id="table_paging_url" value="{% url 'head:flow:paging' %}">
        {% include 'table/paging.html' %}
    </div>
{% endblock %}

{% block js %}
{% endblock %}