{% load static %}
{% load mathfilters %}

<div id="search_user_modal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header d-block ps-4 pe-4">
                <div class="row">
                    <div class="col-11">
                        <div class="d-flex align-items-center">
                            <p class="modal-title">絞り込み - お客様管理 - </p>
                            <button type="button" class="btn reset-button ms-auto">絞り込み条件をリセット</button>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body d-block ps-4 pe-4">
                <form id="search_user_form" action="{% url 'user:search' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">お客様氏名</label>
                                    <input type="text" name="name" value="{{ table.search.name }}" class="input-text ps-2 pe-2" style="width: 72.5%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">フリガナ</label>
                                    <input type="text" name="kana" value="{{ table.search.kana }}" class="input-text ps-2 pe-2" style="width: 72.5%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">電話番号</label>
                                    <input type="text" name="phone" value="{{ table.search.phone }}" class="input-text ps-2 pe-2" style="width: 72.5%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">メールアドレス</label>
                                    <input type="text" name="email" value="{{ table.search.email }}" class="input-text ps-2 pe-2" style="width: 72.5%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">年齢</label>
                                    <div class="dropdown input-select-dropdown d-inline-block p-0" style="width: 33.75%;">
                                        <input type="text" name="age_from" value="{{ table.search.age_from }}" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        <input type="hidden" value="{{ table.search.age_from }}">
                                        <div class="dropdown-menu">
                                            {% for age_item in age_list %}
                                                {% if age_item >= 15 %}
                                                    {% if age_item == 15 %}
                                                        <button type="button" value="{{ age_item }}" class="btn dropdown-item fw-bold text-center">{{ age_item }}歳</button>
                                                    {% else %}
                                                        <button type="button" value="{{ age_item }}" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">{{ age_item }}歳</button>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <span class="text-center" style="width: 5%;">～</span>
                                    <div class="dropdown input-select-dropdown d-inline-block p-0" style="width: 33.75%;">
                                        <input type="text" name="age_to" value="{{ table.search.age_to }}" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        <input type="hidden" value="{{ table.search.age_to }}">
                                        <div class="dropdown-menu">
                                            {% for age_item in age_list %}
                                                {% if age_item >= 15 %}
                                                    {% if age_item == 15 %}
                                                        <button type="button" value="{{ age_item }}" class="btn dropdown-item fw-bold text-center">{{ age_item }}歳</button>
                                                    {% else %}
                                                        <button type="button" value="{{ age_item }}" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">{{ age_item }}歳</button>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">登録日</label>
                                    <input type="text" name="date_from" value="{{ table.search.date_from }}" class="input-text input-date ps-2 pe-2" style="width: 33.75%;">
                                    <span class="text-center" style="width: 5%;">～</span>
                                    <input type="text" name="date_to" value="{{ table.search.date_to }}" class="input-text input-date ps-2 pe-2" style="width: 33.75%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">お客様ID</label>
                                    <input type="text" name="id_from" value="{{ table.search.id_from }}" class="input-text ps-2 pe-2" style="width: 33.75%;">
                                    <span class="text-center" style="width: 5%;">～</span>
                                    <input type="text" name="id_to" value="{{ table.search.id_to }}" class="input-text ps-2 pe-2" style="width: 33.75%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-0">性別</label>
                                    <div class="dropdown input-select-dropdown d-inline-block p-0" style="width: 72.5%;">
                                        {% if table.search.sex == '1' %}
                                            <input type="text" name="sex" value="男性" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        {% elif table.search.sex == '2' %}
                                            <input type="text" name="sex" value="女性" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        {% else %}
                                            <input type="text" name="sex" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        {% endif %}
                                        <input type="hidden" value="{{ table.search.sex }}">
                                        <div class="dropdown-menu">
                                            <button type="button" value="" class="btn dropdown-item fw-bold text-center">&nbsp;</button>
                                            <button type="button" value="1" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">男性</button>
                                            <button type="button" value="2" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">女性</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <label class="input-label ms-auto me-5 mb-0">会員登録</label>
                                    <div class="dropdown input-select-dropdown d-inline-block p-0" style="width: 72.5%;">
                                        {% if table.search.member == '1' %}
                                            <input type="text" name="member" value="登録済み" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        {% elif table.search.member == '2' %}
                                            <input type="text" name="member" value="未登録" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        {% else %}
                                            <input type="text" name="member" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                        {% endif %}
                                        <input type="hidden" value="{{ table.search.member }}">
                                        <div class="dropdown-menu">
                                            <button type="button" value="" class="btn dropdown-item fw-bold text-center">&nbsp;</button>
                                            <button type="button" value="1" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">登録済み</button>
                                            <button type="button" value="2" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">未登録</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-start mb-3">
                                    <label class="input-label ms-auto me-5 mb-auto">タグ</label>
                                    <div style="width: 72.5%;">
                                        {% for tag_item in tag_list %}
                                            {% if forloop.counter|mod:3 == 1 %}
                                                <div class="d-flex align-items-center w-100 mb-2">
                                            {% endif %}
                                            <div class="input-check-wrap ps-4 me-3" style="width: 33%;">
                                                <label for="tag_{{ tag_item.display_id }}" class="mb-0">{{ tag_item.name }}</label>
                                                {% if tag_item.check %}
                                                    <input type="checkbox" id="tag_{{ tag_item.display_id }}" name="tag" value="{{ tag_item.display_id }}" class="input-check" checked>
                                                {% else %}
                                                    <input type="checkbox" id="tag_{{ tag_item.display_id }}" name="tag" value="{{ tag_item.display_id }}" class="input-check">
                                                {% endif %}
                                                <label for="tag_{{ tag_item.display_id }}" class="input-check-mark mb-0"></label>
                                            </div>
                                            {% if forloop.counter|mod:3 == 1 and forloop.last %}
                                                <div class="input-check-wrap ps-4 me-3" style="width: 33%;"></div>
                                                <div class="input-check-wrap ps-4 me-3" style="width: 33%;"></div>
                                            {% endif %}
                                            {% if forloop.counter|mod:3 == 2 and forloop.last %}
                                                <div class="input-check-wrap ps-4 me-3" style="width: 33%;"></div>
                                            {% endif %}
                                            {% if forloop.counter|mod:3 == 0 or forloop.last %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content ps-4 pe-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <label class="input-label ms-auto me-5 mb-auto">ステータス</label>
                                    <div style="width: 72.5%;">
                                        {% for flow_key, flow_value in flow_check_list.items %}
                                            {% if forloop.counter|mod:3 == 1 %}
                                                <div class="d-flex align-items-center w-100 mb-2">
                                            {% endif %}
                                            <div class="input-check-wrap ps-4 me-3" style="width: 33%;">
                                                <label for="flow_{{ forloop.counter }}" class="mb-0">{{ flow_key }}</label>
                                                {% if flow_value %}
                                                    <input type="checkbox" id="flow_{{ forloop.counter }}" name="flow" value="{{ forloop.counter }}" class="input-check" checked>
                                                {% else %}
                                                    <input type="checkbox" id="flow_{{ forloop.counter }}" name="flow" value="{{ forloop.counter }}" class="input-check">
                                                {% endif %}
                                                <label for="flow_{{ forloop.counter }}" class="input-check-mark mb-0"></label>
                                            </div>
                                            {% if forloop.counter|mod:3 == 1 and forloop.last %}
                                                <div class="input-check-wrap ps-4 me-3" style="width: 33%;"></div>
                                                <div class="input-check-wrap ps-4 me-3" style="width: 33%;"></div>
                                            {% endif %}
                                            {% if forloop.counter|mod:3 == 2 and forloop.last %}
                                                <div class="input-check-wrap ps-4 me-3" style="width: 33%;"></div>
                                            {% endif %}
                                            {% if forloop.counter|mod:3 == 0 or forloop.last %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row text-center mt-4">
                    <div class="col-4 offset-2">
                        <button type="button" class="btn yes-button" style="background-color: #002247;">絞り込み</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn no-button" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>