{% load static %}

<div id="edit_step_modal" class="modal step-modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-block ps-4 pe-4">
                <div class="row">
                    <div class="col-11">
                        <div class="d-flex align-items-center">
                            {% if user.profile.image %}
                                <img src="{{ user.profile.image.url }}" class="user-image me-2">
                            {% elif user.display_image %}
                                <img src="{{ user.display_image }}" class="user-image me-2">
                            {% else %}
                                <img src="{% static 'img/user-none.png' %}" class="user-image me-2">
                            {% endif %}
                            <div>
                                {% if user.profile.name %}
                                    {% if user.profile.age %}
                                        <p class="title mb-0">{{ user.profile.name }} ({{ user.profile.age }})</p>
                                    {% else %}
                                        <p class="title mb-0">{{ user.profile.name }}</p>
                                    {% endif %}
                                {% else %}
                                    {% if user.profile.age %}
                                        <p class="title mb-0">{{ user.display_name }} ({{ user.profile.age }})</p>
                                    {% else %}
                                        <p class="title mb-0">{{ user.display_name }}</p>
                                    {% endif %}
                                {% endif %}
                                <p class="sub mb-0" style="color: #707070;">#{{ user.profile.atelle_id }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="modal-body d-block p-0">
                <input type="hidden" id="save_step_check_form" value="{% url 'user:save_check' %}">
                <form id="save_step_form" action="{% url 'user:save_step' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                    <input type="hidden" name="user_id" value="{{ user.display_id }}">
                    <div class="table-area">
                        <table class="table text-nowrap mb-0">
                            <thead>
                                <tr>
                                    <th style="width: 40px;"></th>
                                    <th>コース</th>
                                    <th style="width: 160px;">日時</th>
                                    <th style="width: 100px;">参加/不参加</th>
                                    <th style="width: 120px;">担当者</th>
                                    <th style="width: 120px;">設備</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user_flow in user.flow %}
                                    <tr>
                                        <td class="position-relative ps-3 pe-1" rowspan="2">
                                            {% if forloop.first %}
                                                {% if user_flow.end_flg %}
                                                    <label class="process pass mb-0"></label>
                                                {% else %}
                                                    <label class="process mb-0"></label>
                                                {% endif %}
                                            {% else %}
                                                {% if user_flow.end_flg %}
                                                    <label class="process any pass mb-0"></label>
                                                {% else %}
                                                    <label class="process any mb-0"></label>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="position-relative" rowspan="2">
                                            {% for user_flow_schedule in user_flow.schedule %}
                                                {% if forloop.last %}
                                                    {% if user_flow_schedule.online %}
                                                        <label class="online-offline-mark ps-2 pe-2 mb-0">オンライン</label>
                                                        {% if user_flow_schedule.online_course %}
                                                            <p class="content-course mb-0">{{ user_flow_schedule.online_course.title }}</p>
                                                        {% else %}
                                                            <p class="content-course mb-0">-</p>
                                                        {% endif %}
                                                        <input type="hidden" value="{{ user_flow_schedule.online.display_id }}">
                                                        <input type="hidden" value="{{ user_flow_schedule.online.name }}">
                                                        <input type="hidden" value="{{ user_flow_schedule.online_course.display_id }}">
                                                    {% elif user_flow_schedule.offline %}
                                                        <label class="online-offline-mark ps-2 pe-2 mb-0">対面</label>
                                                        {% if user_flow_schedule.offline_course %}
                                                            <p class="content-course mb-0">{{ user_flow_schedule.offline_course.title }}</p>
                                                        {% else %}
                                                            <p class="content-course mb-0">-</p>
                                                        {% endif %}
                                                        <input type="hidden" value="{{ user_flow_schedule.offline.display_id }}">
                                                        <input type="hidden" value="{{ user_flow_schedule.offline.name }}">
                                                        <input type="hidden" value="{{ user_flow_schedule.offline_course.display_id }}">
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="d-flex justify-content-start align-items-center">
                                                <p class="content-title mb-0">{{ user_flow.name }}</p>
                                                <input type="hidden" value="{{ user_flow.display_id }}">
                                                <input type="hidden" value="{{ user_flow.schedule|length }}">
                                            </div>
                                            {% if user_flow.updated_at %}
                                                <p class="content-date mb-0">{{ user_flow.updated_at|date:'Y年m月d日 H:i' }}</p>
                                            {% else %}
                                                <p class="content-date mb-0">{{ user_flow.created_at|date:'Y年m月d日 H:i' }}</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user_flow.schedule|length %}
                                                {% for user_flow_schedule in user_flow.schedule %}
                                                    {% if forloop.last %}
                                                        {% if user_flow_schedule.date and user_flow_schedule.time %}
                                                            {% if user_flow.end_flg or user_flow_schedule.join == 2 %}
                                                                <input type="text" name="date_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" class="input-text readonly w-100 ps-1" value="{{ user_flow_schedule.date|date:'Y/m/d' }} {{ user_flow_schedule.time|date:'H:i' }}" readonly>
                                                            {% else %}
                                                                <input type="text" name="date_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" class="input-text input-schedule w-100 ps-1" value="{{ user_flow_schedule.date|date:'Y/m/d' }} {{ user_flow_schedule.time|date:'H:i' }}" style="cursor: pointer;" readonly>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if user_flow.end_flg or user_flow_schedule.join == 2 %}
                                                                <input type="text" name="date_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" class="input-text readonly w-100 ps-1" value="-" readonly>
                                                            {% else %}
                                                                <input type="text" name="date_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" class="input-text input-schedule readonly w-100 ps-1" value="" style="cursor: pointer;" readonly>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <input type="text" name="date_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" class="input-text readonly w-100 ps-1" value="-" readonly>
                                            {% endif %}
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#select_schedule_modal"></button>
                                        </td>
                                        <td>
                                            {% if user_flow.schedule|length %}
                                                {% for user_flow_schedule in user_flow.schedule %}
                                                    {% if forloop.last %}
                                                        {% if user_flow.end_flg or user_flow_schedule.join == 2 %}
                                                            {% if user_flow_schedule.join %}
                                                                <input type="text" class="input-text text-center readonly w-100" value="{{ user_flow_schedule.get_join_display }}" readonly>
                                                                <input type="hidden" value="{{ user_flow_schedule.join }}">
                                                            {% else %}
                                                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                                                                <input type="hidden">
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="dropdown input-select-dropdown input-join-dropdown d-inline-block w-100 p-0">
                                                                <input type="text" name="join_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.get_join_display }}" class="input-text input-select ps-2 pe-2" data-bs-toggle="dropdown" readonly>
                                                                <input type="hidden" value="{{ user_flow_schedule.join }}">
                                                                <div class="dropdown-menu" style="max-height: 55px;">
                                                                    <button type="button" value="1" class="btn dropdown-item fw-bold text-center">参加</button>
                                                                    <button type="button" value="2" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">不参加</button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user_flow.schedule|length %}
                                                {% for user_flow_schedule in user_flow.schedule %}
                                                    {% if forloop.last %}
                                                        {% if user_flow.end_flg or user_flow_schedule.join == 2 %}
                                                            {% if user_flow_schedule.manager %}
                                                                <input type="text" name="manager_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.manager.manager_profile.family_name }} {{ user_flow_schedule.manager.manager_profile.first_name }}" class="input-text text-center readonly w-100" readonly>
                                                                <input type="hidden" value="{{ user_flow_schedule.manager.display_id }}">
                                                            {% else %}
                                                                <input type="text" name="manager_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" class="input-text text-center readonly w-100" value="-" readonly>
                                                                <input type="hidden">
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="dropdown input-manager-select-dropdown d-inline-block w-100 p-0">
                                                                <input type="text" name="manager_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.manager.manager_profile.family_name }} {{ user_flow_schedule.manager.manager_profile.first_name }}" class="input-text input-select readonly ps-2 pe-2" readonly>
                                                                <input type="hidden" value="{{ user_flow_schedule.manager.display_id }}">
                                                                <div class="dropdown-menu" style="min-width: 150%; max-height: 55px;">
                                                                    {% for manager_item in user_flow_schedule.manager_list %}
                                                                        {% if forloop.first %}
                                                                            <button type="button" value="{{ manager_item.display_id }}" class="btn select_manager_button dropdown-item fw-bold text-start p-1 pt-2 pb-2">
                                                                                {% if manager_item.manager.manager_profile.image %}
                                                                                    <img src="{{ manager_item.manager.manager_profile.image.url }}" class="rounded-circle ms-1 me-1 mb-0" width="25" height="25">
                                                                                {% else %}
                                                                                    <img src="{% static 'img/manager-none.png' %}" class="rounded-circle ms-1 me-1 mb-0" width="25" height="25">
                                                                                {% endif %}
                                                                                {% if manager_item.manager.manager_profile.family_name and manager_item.manager.manager_profile.first_name %}
                                                                                    <span>{{ manager_item.manager.manager_profile.family_name }} {{ manager_item.manager.manager_profile.first_name }}</span>
                                                                                {% elif manager_item.manager.manager_profile.family_name %}
                                                                                    <span>{{ manager_item.manager.manager_profile.family_name }}</span>
                                                                                {% elif manager_item.manager.manager_profile.first_name %}
                                                                                    <span>{{ manager_item.manager.manager_profile.first_name }}</span>
                                                                                {% else %}
                                                                                    <span>-</span>
                                                                                {% endif %}
                                                                            </button>
                                                                        {% else %}
                                                                            <button type="button" value="{{ manager_item.display_id }}" class="btn select_manager_button dropdown-item fw-bold text-start border-top p-1 pt-2">
                                                                                {% if manager_item.manager.manager_profile.image %}
                                                                                    <img src="{{ manager_item.manager.manager_profile.image.url }}" class="rounded-circle ms-1 me-1 mb-0" width="25" height="25">
                                                                                {% else %}
                                                                                    <img src="{% static 'img/manager-none.png' %}" class="rounded-circle ms-1 me-1 mb-0" width="25" height="25">
                                                                                {% endif %}
                                                                                {% if manager_item.manager.manager_profile.family_name and manager_item.manager.manager_profile.first_name %}
                                                                                    <span>{{ manager_item.manager.manager_profile.family_name }} {{ manager_item.manager.manager_profile.first_name }}</span>
                                                                                {% elif manager_item.manager.manager_profile.family_name %}
                                                                                    <span>{{ manager_item.manager.manager_profile.family_name }}</span>
                                                                                {% elif manager_item.manager.manager_profile.first_name %}
                                                                                    <span>{{ manager_item.manager.manager_profile.first_name }}</span>
                                                                                {% else %}
                                                                                    <span>-</span>
                                                                                {% endif %}
                                                                            </button>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user_flow.schedule|length %}
                                                {% for user_flow_schedule in user_flow.schedule %}
                                                    {% if forloop.last %}
                                                        {% if user_flow.end_flg or user_flow_schedule.join == 2 %}
                                                            {% if user_flow_schedule.online_facility %}
                                                                <input type="text" name="facility_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.online_facility.name }}" class="input-text input-select w-100 readonly ps-2 pe-2" readonly>
                                                                <input type="hidden" value="{{ user_flow_schedule.online_facility.display_id }}">
                                                            {% elif user_flow_schedule.offline_facility %}
                                                                <input type="text" name="facility_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.offline_facility.name }}" class="input-text input-select w-100 readonly ps-2 pe-2" readonly>
                                                                <input type="hidden" value="{{ user_flow_schedule.offline_facility.display_id }}">
                                                            {% else %}
                                                                <input type="text" name="facility_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="-" class="input-text input-select w-100 readonly ps-2 pe-2"  readonly>
                                                                <input type="hidden" value="">
                                                            {% endif %}
                                                        {% else %}
                                                            <div class="dropdown input-select-dropdown d-inline-block w-100 p-0">
                                                                {% if user_flow_schedule.online_facility %}
                                                                    <input type="text" name="facility_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.online_facility.name }}" class="input-text input-select readonly ps-2 pe-2" readonly>
                                                                    <input type="hidden" value="{{ user_flow_schedule.online_facility.display_id }}">
                                                                {% elif user_flow_schedule.offline_facility %}
                                                                    <input type="text" name="facility_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="{{ user_flow_schedule.offline_facility.name }}" class="input-text input-select readonly ps-2 pe-2" readonly>
                                                                    <input type="hidden" value="{{ user_flow_schedule.offline_facility.display_id }}">
                                                                {% else %}
                                                                    <input type="text" name="facility_{{ user_flow.display_id }}_{{ user_flow_schedule.number }}" value="" class="input-text input-select readonly ps-2 pe-2" readonly>
                                                                    <input type="hidden" value="">
                                                                {% endif %}
                                                                <div class="dropdown-menu w-100" style="min-width: auto; max-height: 55px;">
                                                                    {% for facility_item in user_flow_schedule.facility_list %}
                                                                        {% if forloop.first %}
                                                                            <button type="button" value="{{ facility_item.facility.display_id }}" class="btn dropdown-item fw-bold text-center">{{ facility_item.facility.name }}</button>
                                                                        {% else %}
                                                                            <button type="button" value="{{ facility_item.facility.display_id }}" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">{{ facility_item.facility.name }}</button>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <input type="text" class="input-text text-center readonly w-100" value="-" readonly>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-0" colspan="4">
                                            {% if user_flow.end_flg or user_flow_schedule.join == 2 %}
                                                <input type="text" name="memo_{{ user_flow.display_id }}" class="input-text text-center readonly w-100" value="-" readonly>
                                            {% else %}
                                                <input type="text" name="memo_{{ user_flow.display_id }}" class="input-text w-100" value="">
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" name="edit_type" value="0">
                </form>
            </div>
            <div class="modal-footer justify-content-center flex-nowrap">
                {% if request.user.authority > 1 %}
                    <button type="button" value="step" class="btn edit-button">変更する</button>
                    <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_check_modal"></button>
                    <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_yes_message_modal"></button>
                    <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_no_message_modal"></button>
                {% endif %}
                <button type="button" class="btn no-button" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
            </div>
        </div>
    </div>
</div>
<div id="edit_step_yes_message_modal" class="modal up-modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content-area" style="opacity: 1;">
                    <div class="row text-center mb-3">
                        <div class="col-12">
                            <div class="mx-auto">
                                <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                            </div>
                            <div class="ps-5 pe-5">
                                <p class="modal-title mb-1">サンキューメッセージを送信しますか？</p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-1">
                        <div class="col-10 offset-1">
                            <div class="d-flex align-items-center mb-2">
                                <div class="input-radio-wrap position-relative me-3 mb-1">
                                    <label for="edit_step_yes_message_type_1" class="ps-4 mb-0" style="font-size: 0.8125rem;">メッセージを入力</label>
                                    <input type="radio" id="edit_step_yes_message_type_1" name="yes_type" value="1" class="input-radio">
                                    <label for="edit_step_yes_message_type_1" class="input-radio-mark mb-0"></label>
                                </div>
                            </div>
                            <div id="member_user_message_area" class="d-none">
                                <div class="d-flex align-items-center mb-3">
                                    <textarea name="yes_message" class="input-textarea d-block w-100 ms-auto" style="height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="input-radio-wrap position-relative me-3 mb-1">
                                    <label for="edit_step_yes_message_type_2" class="ps-4 mb-0" style="font-size: 0.8125rem;">テンプレートを選択</label>
                                    <input type="radio" id="edit_step_yes_message_type_2" name="yes_type" value="2" class="input-radio">
                                    <label for="edit_step_yes_message_type_2" class="input-radio-mark mb-0"></label>
                                </div>
                            </div>
                            <div id="member_user_template_area" class="d-none">
                                <div class="d-flex align-items-center mb-1">
                                    <div class="dropdown input-select-dropdown template-dropdown d-inline-block p-0 mb-1">
                                        <input type="text" name="yes_template_type" class="input-text input-select ps-2 pe-2" style="background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));" placeholder="メッセージタイプ" data-bs-toggle="dropdown" data-parsley-errors-messages-disabled readonly>
                                        <input type="hidden">
                                        <div class="dropdown-menu" style="max-height: 175px;">
                                            <button type="button" value="0" class="btn select_template_button dropdown-item fw-bold text-center p-1">テキストメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_text_modal"></button>
                                            <button type="button" value="1" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">動画メッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_video_modal"></button>
                                            <button type="button" value="2" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">リッチメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_richmessage_modal"></button>
                                            <button type="button" value="3" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">リッチビデオメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_richvideo_modal"></button>
                                            <button type="button" value="4" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">カードタイプメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_cardtype_modal"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <input type="text" name="yes_template" class="input-text input-select ps-2 pe-2" placeholder="テンプレート" data-parsley-errors-messages-disabled disabled>
                                    <input type="hidden">
                                    <p class="ms-1 mb-0">を送信</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="input-radio-wrap position-relative me-3 mb-1">
                                    <label for="edit_step_yes_message_type_0" class="ps-4 mb-0" style="font-size: 0.8125rem;">送信しない</label>
                                    <input type="radio" id="edit_step_yes_message_type_0" name="yes_type" value="0" class="input-radio" checked>
                                    <label for="edit_step_yes_message_type_0" class="input-radio-mark mb-0"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col-5 offset-1">
                            <button type="button" class="btn yes-button">変更する</button>
                            <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_check_modal"></button>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn no-button" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_step_no_message_modal" class="modal up-modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content-area" style="opacity: 1;">
                    <div class="row text-center mb-3">
                        <div class="col-12">
                            <div class="mx-auto">
                                <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                            </div>
                            <div class="ps-5 pe-5">
                                <p class="modal-title mb-1">キャンセルメッセージを送信しますか？</p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-1">
                        <div class="col-10 offset-1">
                            <div class="d-flex align-items-center mb-2">
                                <div class="input-radio-wrap position-relative me-3 mb-1">
                                    <label for="edit_step_no_message_type_1" class="ps-4 mb-0" style="font-size: 0.8125rem;">メッセージを入力</label>
                                    <input type="radio" id="edit_step_no_message_type_1" name="no_type" value="1" class="input-radio">
                                    <label for="edit_step_no_message_type_1" class="input-radio-mark mb-0"></label>
                                </div>
                            </div>
                            <div id="step_no_message_area" class="d-none">
                                <div class="d-flex align-items-center mb-3">
                                    <textarea name="no_message" class="input-textarea d-block w-100 ms-auto" style="height: 100px;"></textarea>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="input-radio-wrap position-relative me-3 mb-1">
                                    <label for="edit_step_no_message_type_2" class="ps-4 mb-0" style="font-size: 0.8125rem;">テンプレートを選択</label>
                                    <input type="radio" id="edit_step_no_message_type_2" name="no_type" value="2" class="input-radio">
                                    <label for="edit_step_no_message_type_2" class="input-radio-mark mb-0"></label>
                                </div>
                            </div>
                            <div id="step_no_template_area" class="d-none">
                                <div class="d-flex align-items-center mb-1">
                                    <div class="dropdown input-select-dropdown template-dropdown d-inline-block p-0 mb-1">
                                        <input type="text" name="no_template_type" class="input-text input-select ps-2 pe-2" style="background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));" placeholder="メッセージタイプ" data-bs-toggle="dropdown" data-parsley-errors-messages-disabled readonly>
                                        <input type="hidden">
                                        <div class="dropdown-menu" style="max-height: 175px;">
                                            <button type="button" value="0" class="btn select_template_button dropdown-item fw-bold text-center p-1">テキストメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_text_modal"></button>
                                            <button type="button" value="1" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">動画メッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_video_modal"></button>
                                            <button type="button" value="2" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">リッチメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_richmessage_modal"></button>
                                            <button type="button" value="3" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">リッチビデオメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_richvideo_modal"></button>
                                            <button type="button" value="4" class="btn select_template_button dropdown-item fw-bold text-center border-top p-1 pt-2">カードタイプメッセージ</button>
                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_cardtype_modal"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mb-3">
                                    <input type="text" name="no_template" class="input-text input-select ps-2 pe-2" placeholder="テンプレート" data-parsley-errors-messages-disabled disabled>
                                    <input type="hidden">
                                    <p class="ms-1 mb-0">を送信</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="input-radio-wrap position-relative me-3 mb-1">
                                    <label for="edit_step_no_message_type_0" class="ps-4 mb-0" style="font-size: 0.8125rem;">送信しない</label>
                                    <input type="radio" id="edit_step_no_message_type_0" name="no_type" value="0" class="input-radio" checked>
                                    <label for="edit_step_no_message_type_0" class="input-radio-mark mb-0"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col-5 offset-1">
                            <button type="button" class="btn yes-button">変更する</button>
                            <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_check_modal"></button>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn no-button" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_step_check_modal" class="modal up-modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="content-area" style="width: 100%; opacity: 1;">
                    <div class="row text-center">
                        <div class="col-12">
                            <div class="mx-auto">
                                <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                            </div>
                            <div class="ps-4 pe-4">
                                <p class="modal-title mb-1">予約を変更してもよろしいですか？</p>
                            </div>
                            <div class="modal-description-area ps-3 pe-3">
                                <p class="modal-description mb-0"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mt-2">
                        <div class="col-5 offset-1">
                            <button type="button" class="btn yes-button">変更</button>
                            <button type="button" id="edit_step_success_button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_success_modal"></button>
                            <button type="button" id="edit_step_error_button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#edit_step_error_modal"></button>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn no-button" data-bs-dismiss="modal" aria-label="Close">キャンセル</button>
                        </div>
                    </div>
                </div>
                <div class="loader-area" style="opacity: 0;">
                    <div class="modal-loader-area d-flex justify-content-center align-items-center">
                        <div class="form-loader spinner-border">
                            <span class="visually-hidden">変更中...</span>
                        </div>
                        <p class="h5 fw-bold ms-3 mb-0">変更中...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_step_success_modal" class="modal up-modal fade" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="mx-auto">
                            <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                        </div>
                        <div class="ps-5 pe-5">
                            <p class="modal-title mb-0">変更しました</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <div class="col-12">
                        <button type="button" class="btn close-button">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="edit_step_error_modal" class="modal up-modal fade" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-12">
                        <div class="mx-auto">
                            <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                        </div>
                        <div class="ps-5 pe-5">
                            <p class="modal-title mb-0">変更に失敗しました</p>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-3">
                    <div class="col-12">
                        <button type="button" class="btn close-button">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>