{% extends '../base.html' %}

{% load static %}
{% load original %}

{% block css %}
    <link href="{% static_cache 'css/richmenu.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }} - 企業 - </p>
        </div>
    </div>
    <div class="company">
        {% if rich_menu.display_id %}
            <div class="row mb-2">
                <div class="col-12">
                    <div class="delete_area d-flex justify-content-end align-items-center">
                        <form id="delete_richmenu_form" action="{% url 'company:richmenu:delete' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                            <input type="hidden" name="id" value="{{ rich_menu.display_id }}">
                        </form>
                        <button type="button" class="btn delete-button p-1" value="richmenu">このリッチメニューを削除する</a>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#delete_check_modal"></button>
                    </div>
                </div>
            </div>
        {% endif %}
        <input type="hidden" id="save_richmenu_check_form" value="{% url 'company:richmenu:save_check' %}">
        <form id="save_richmenu_form" action="{% url 'company:richmenu:save' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
            {% include 'company/richmenu/title.html' %}
            {% include 'company/richmenu/input.html' %}
        </form>
        {% include 'modal.html' %}
        {% include 'company/richmenu/modal/template.html' %}
        {% include 'company/richmenu/modal/image.html' %}
        {% include 'company/template/video/modal/video.html' %}
        {% include 'company/question/modal/question.html' %}
        {% include 'preview.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static_cache 'js/company/question/modal.js' %}"></script>
    <script src="{% static_cache 'js/company/template/video/modal.js' %}"></script>
    <script src="{% static_cache 'js/company/richmenu/preview.js' %}"></script>
    <script src="{% static_cache 'js/company/richmenu/append.js' %}"></script>
    <script src="{% static_cache 'js/company/richmenu/action.js' %}"></script>
    <script src="{% static_cache 'js/company/richmenu/data.js' %}"></script>
    <script src="{% static_cache 'js/company/richmenu/image.js' %}"></script>
{% endblock %}