{% load static %}

<div class="row">
    <div class="col-12">
        <div class="card-area pt-3 pb-3 ps-5 pe-5">
            <div class="input-area mb-3">
                <div class="message-area">
                    <div class="row">
                        <div class="col-3">
                            {% include 'company/richmenu/template.html' %}
                        </div>
                        <div class="col-9">
                            {% include 'company/richmenu/action.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-area ps-5 ms-1">
                <div class="row">
                    <div class="col-12">
                        <div class="save-area text-center">
                            <div id="error_template"></div>
                            <div id="error_image"></div>
                            <input type="hidden" name="id" value="{{ rich_menu.display_id }}">
                            {% if rich_menu.display_id %}
                                <button type="button" class="btn copy-button mt-2 me-3" value="richmenu">複製する</button>
                                <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#copy_check_modal"></button>
                                <input type="hidden" id="copy_url" value="{% url 'company:richmenu:copy' %}">
                            {% endif %}
                            <button type="button" class="btn save-button mt-2" value="richmenu">保存する</button>
                            <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#save_check_modal"></button>
                            <input type="hidden" id="reload_url" value="{% url 'company:richmenu:index' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>