{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include './meta.html' %}

        <title>{{ title }} | {{ env_site_name }}</title>

        <link href="{% static 'img/favicon.jpg' %}" rel="icon" type="image/x-icon">

        {% include './css.html' %}
        {% block css %}
        {% endblock %}
    </head>
    <body class="position-relative">
        {% include './header.html' %}
        {% include './side.html' %}
        <div class="main pt-4 pb-4 ps-5 pe-5">
            {% block content %}
            {% endblock %}
        </div>
        <div class="all-loader-area position-absolute d-none">
            <div class="all-loader">
                <img src="{% static 'img/loading.gif' %}">
                <span>読み込み中...</span>
            </div>
        </div>

        {% include './js.html' %}
        {% block js %}
        {% endblock %}
    </body>
</html>