{% load static %}
{% load md5url %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        {% include './meta.html' %}

        <title>{{ title }} | {{ env.site_name }}</title>

        <link href="{% md5url 'img/favicon.jpg' %}" rel="icon" type="image/x-icon">

        {% include './css.html' %}
        {% block css %}
        {% endblock %}
    </head>
    <body class="position-relative">
        {% include './header.html' %}
        {% include './side.html' %}
        <div class="main pt-4 pb-4 ps-5 pe-5">
            <input type="hidden" id="env_static_url" value="{{ env.static_url }}">
            <input type="hidden" id="env_media_url" value="{{ env.media_url }}">
            <input type="hidden" id="env_domain_url" value="{{ env.domain_url }}">
            <input type="hidden" id="table_number_url" value="{% url 'table:number' %}">
            <input type="hidden" id="mini_table_number_url" value="{% url 'table:mini_number' %}">
            <input type="hidden" id="table_sort_url" value="{% url 'table:sort' %}">
            <input type="hidden" id="mini_table_sort_url" value="{% url 'table:mini_sort' %}">
            <input type="hidden" id="get_company_profile_url" value="{% url 'company:setting:get_company_profile' %}">
            {% block content %}
            {% endblock %}
        </div>

        {% include './js.html' %}
        {% block js %}
        {% endblock %}
    </body>
</html>