{% load static %}

<div class="side position-fixed">
    <div class="side-area">
        <div class="row">
            <div class="col-12">
                <div class="logo-area text-center pt-2">
                    <img src="{% static 'img/logo.svg' %}" class="logo-img mb-1">
                    <p class="mb-1">管理画面ダッシュボード</p>
                    {% if side_logo_image %}
                        <div class="d-flex align-items-center text-start ps-2 mt-2 mb-2">
                            <img src="{{ side_logo_image }}" class="account-img me-1">
                            <span>{{ side_logo_name }}</span>
                        </div>
                    {% else %}
                        <div class="d-flex align-items-center text-start ps-2 mt-2 mb-2">
                            <img src="{% static 'img/manager-none.png' %}" class="account-img me-1">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="menu-area">
                    <ul class="d-flex position-relative m-0 p-0 pb-1">
                        {% if '/dashboard/' in request.path %}
                            <li class="active position-relative">
                                <a href="{% url 'dashboard:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                    <img src="{% static 'img/side/side-dashboard.svg' %}" class="me-2">
                                    <span>ダッシュボード</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="position-relative">
                                <a href="{% url 'dashboard:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                    <img src="{% static 'img/side/side-dashboard.svg' %}" class="me-2">
                                    <span>ダッシュボード</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if request.user.company_flg %}
                            <li class="position-relative">
                                <a href="{% url 'company:shop:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                    <i class='bx bxs-group me-2'></i>
                                    <span>企業</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="com-area position-relative mt-5 mb-0 ps-3 pe-3">
                    <p class="m-0">@L Admin Dashboard</p>
                    <p class="m-0">©2022 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>