{% load static %}

<div class="header d-flex position-fixed">
    <div class="menu-area-sp toggle">
        <span class="mdi mdi-menu" style="font-size: 2.4rem;"></span>
    </div>

    <div class="logo-area-sp text-center pt-2">
        <img src="{% static 'img/logo.svg' %}" class="logo-img">
    </div>

    <div class="side-sp head-side position-fixed">
        <div class="side-area">
            <div class="row">
                <div class="col-12">
                    <div class="logo-area text-center pt-2">
                        <p>管理画面ダッシュボード</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="menu-area">
                        <ul class="d-flex position-relative m-0 p-0 pb-1">
                            {% if '/head/company/' in request.path %}
                                <li class="active position-relative">
                                    <a href="{% url 'head:company:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-user.svg' %}" class="me-2">
                                        <span>企業管理</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:company:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-user.svg' %}" class="me-2">
                                        <span>企業管理</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if '/head/tag/' in request.path %}
                                <li class="active position-relative">
                                   <a href="{% url 'head:tag:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-tag.svg' %}" class="me-2">
                                        <span>企業タグ</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:tag:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-tag.svg' %}" class="me-2">
                                        <span>企業タグ</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if '/head/template/' in request.path %}
                                <li class="active position-relative">
                                    <a href="{% url 'head:template:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-template.svg' %}" class="me-2">
                                        <span>テンプレート管理</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:template:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-template.svg' %}" class="me-2">
                                        <span>テンプレート管理</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if '/head/richmenu/' in request.path %}
                                <li class="active position-relative">
                                    <a href="{% url 'head:richmenu:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-richmenu.svg' %}" class="me-2">
                                        <span>リッチメニュー管理</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:richmenu:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-richmenu.svg' %}" class="me-2">
                                        <span>リッチメニュー管理</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if '/head/question/' in request.path %}
                                <li class="active position-relative">
                                    <a href="{% url 'head:question:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-form.svg' %}" class="me-2">
                                        <span>回答フォーム管理</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:question:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-form.svg' %}" class="me-2">
                                        <span>回答フォーム管理</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if '/head/flow/' in request.path %}
                                <li class="active position-relative">
                                    <a href="{% url 'head:flow:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-flow.svg' %}" class="me-2">
                                        <span>フロー管理</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:flow:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-flow.svg' %}" class="me-2">
                                        <span>フロー管理</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if '/head/setting/' in request.path %}
                                <li class="active position-relative">
                                    <a href="{% url 'head:setting:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-setting.svg' %}" class="me-2">
                                        <span>設定</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="position-relative">
                                    <a href="{% url 'head:setting:index' %}" class="d-flex position-relative mt-1 mb-1 ps-1">
                                        <img src="{% static 'img/side/side-setting.svg' %}" class="me-2">
                                        <span>設定</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="com-area position-relative mt-5 mb-0 ps-3 pe-3">
                        <p class="m-0">@L Admin Dashboard</p>
                        <p class="m-0">©2022 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown header-dropdown">
        <button type="button" id="header_manager_dropdown" class="btn d-flex position-relative dropdown-toggle" data-bs-toggle="dropdown">
            {% if header.manager.profile.family_name and header.manager.profile.first_name %}
                <span class="name">{{ header.manager.profile.family_name }} {{ header.manager.profile.first_name }}</span>
            {% elif header.manager.profile.family_name %}
                <span class="name">{{ header.manager.profile.family_name }}</span>
            {% elif header.manager.profile.first_name %}
                <span class="name">{{ header.manager.profile.first_name }}</span>
            {% else %}
                <span class="name"></span>
            {% endif %}
            {% if header.manager.profile.image %}
                <img src="{{ header.manager.profile.image.url }}" class="d-block manager-image rounded-circle ms-1">
            {% else %}
                <img src="{% static 'img/manager-none.png' %}" class="d-block manager-image rounded-circle ms-1">
            {% endif %}
        </button>
        <div class="dropdown-menu p-3 pe-5" aria-labelledby="header_manager_dropdown">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex info-area">
                    {% if header.manager.profile.image %}
                        <img src="{{ header.manager.profile.image.url }}" class="d-block manager-image rounded-circle me-2">
                    {% else %}
                        <img src="{% static 'img/manager-none.png' %}" class="d-block manager-image rounded-circle me-2">
                    {% endif %}
                    <div class="d-flex flex-column text-start">
                        {% if header.manager.profile.family_name and header.manager.profile.first_name %}
                            <p class="name mb-0">{{ header.manager.profile.family_name }} {{ header.manager.profile.first_name }}</p>
                        {% elif header.manager.profile.family_name %}
                            <p class="name mb-0">{{ header.manager.profile.family_name }}</p>
                        {% elif header.manager.profile.first_name %}
                            <p class="name mb-0">{{ header.manager.profile.first_name }}</p>
                        {% else %}
                            <p class="name mb-0">-</p>
                        {% endif %}
                        {% if header.manager.authority == 3 %}
                            <p class="authority mb-0">管理者</p>
                        {% elif header.manager.authority == 2 %}
                            <p class="authority mb-0">編集者</p>
                        {% elif header.manager.authority == 1 %}
                            <p class="authority mb-0">閲覧者</p>
                        {% endif %}
                    </div>
                </div>
                <div class="link-area">
                    <a href="{% url 'head:setting:index' %}" class="setting-link me-3">設定</a>
                    <a href="{% url 'logout' %}" class="logout-link">ログアウト</a>
                </div>
            </div>
        </div>
    </div>
</div>