{% extends '../base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-sm-10 col-12 offset-lg-2 offset-sm-1">
            <form id="save_shop_account_form" action="#" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                {% csrf_token %}
                {% include 'account/shop/status.html' %}
                <div class="title-area pt-5 mb-5">
                    <p class="title pb-2 mb-3">店舗アカウントの作成</p>
                    <input type="hidden" name="id" value="{{ input.id|default:'' }}">
                </div>
                <div class="input-area mb-5">
                    <p class="title pb-2 mb-3">アトエルカウント情報</p>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">アカウント名</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.account.name|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="account_name" value="{{ input.account.name|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">アカウント画像</label>
                        <div class="input-text-area">
                            <span class="image-file-name mb-1">{{ input.account.image_name|default:'' }}</span>
                            <div class="upload-image-area">
                                <input type="hidden" name="account_image_name" value="{{ input.account.image_name|default:'' }}">
                                <input type="hidden" name="account_image" value="{{ input.account.image|default:'' }}">
                            </div>
                        </div>
                        <label class="input-mark mb-0">任意</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">会社・事業者の<br>所在国・地域</label>
                        <div class="input-text-area">
                            <div class="dropdown input-select-dropdown d-inline-block p-0">
                                <input type="text" value="{{ input.account.country|default:'' }}" class="input-text ps-2 pe-2" disabled>
                                <input type="hidden" name="account_country" value="{{ input.account.country|default:'' }}">
                                <input type="hidden" name="account_country_value" value="{{ input.account.country_value|default:'' }}">
                            </div>
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                </div>
                <div class="input-area mb-5">
                    <p class="title pb-2 mb-3">代表者情報</p>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">氏名</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.head.family_name|default:'' }}" class="input-text ps-2 pe-2 me-3" style="width: 41%" disabled>
                            <input type="hidden" name="head_family_name" value="{{ input.head.family_name|default:'' }}">
                            <input type="text" value="{{ input.head.first_name|default:'' }}" class="input-text ps-2 pe-2" style="width: 41%" disabled>
                            <input type="hidden" name="head_first_name" value="{{ input.head.first_name|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">フリガナ</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.head.family_name_kana|default:'' }}" class="input-text ps-2 pe-2 me-3" pattern="[\u30A1-\u30F6]*" style="width: 41%" disabled>
                            <input type="hidden" name="head_family_name_kana" value="{{ input.head.family_name_kana|default:'' }}">
                            <input type="text" value="{{ input.head.first_name_kana|default:'' }}" class="input-text ps-2 pe-2" pattern="[\u30A1-\u30F6]*" style="width: 41%" disabled>
                            <input type="hidden" name="head_first_name_kana" value="{{ input.head.first_name_kana|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">電話番号</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.head.phone_number|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="head_phone_number" value="{{ input.head.phone_number|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">メールアドレス</label>
                        <div class="input-text-area">
                            <input type="email" value="{{ input.head.email|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="head_email" value="{{ input.head.email|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">プロフィール画像</label>
                        <div class="input-text-area">
                            <span class="image-file-name mb-1">{{ input.head.image_name|default:'' }}</span>
                            <div class="upload-image-area">
                                <input type="hidden" name="head_image_name" value="{{ input.head.image_name|default:'' }}">
                                <input type="hidden" name="head_image" value="{{ input.head.image|default:'' }}">
                            </div>
                        </div>
                        <label class="input-mark mb-0">任意</label>
                    </div>
                </div>
                <div class="input-area mb-5">
                    <div class="title d-flex justify-content-start align-items-center pb-2 mb-3">
                        <span>担当者情報</span>
                        <div class="input-check-wrap ps-3 ms-4 mt-1 mb-0" style="margin: 0; width: auto;">
                            <label for="head_manager_check" class="mb-0">代表者と同一</label>
                            {% if input.manager.check == 'on' %}
                                <input id="head_manager_check" type="checkbox" class="display-label-check display-check input-check" checked disabled>
                            {% else %}
                                <input id="head_manager_check" type="checkbox" class="display-label-check display-check input-check" disabled>
                            {% endif %}
                            <label for="head_manager_check" class="input-check-mark mb-0"></label>
                        </div>
                        <input type="hidden" name="head_manager_check" value="{{ input.manager.check }}">
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">氏名</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.manager.family_name|default:'' }}" class="input-text ps-2 pe-2 me-3" style="width: 41%" disabled>
                            <input type="hidden" name="manager_family_name" value="{{ input.manager.family_name|default:'' }}">
                            <input type="text" value="{{ input.manager.first_name|default:'' }}" class="input-text ps-2 pe-2" style="width: 41%" disabled>
                            <input type="hidden" name="manager_first_name" value="{{ input.manager.first_name|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">フリガナ</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.manager.family_name_kana|default:'' }}" class="input-text ps-2 pe-2 me-3" style="width: 41%" disabled>
                            <input type="hidden" name="manager_family_name_kana" value="{{ input.manager.family_name_kana|default:'' }}">
                            <input type="text" value="{{ input.manager.first_name_kana|default:'' }}" class="input-text ps-2 pe-2" style="width: 41%" disabled>
                            <input type="hidden" name="manager_first_name_kana" value="{{ input.manager.first_name_kana|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">所属部署</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.manager.department|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="manager_department" value="{{ input.manager.department|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">電話番号</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.manager.phone_number|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="manager_phone_number" value="{{ input.manager.phone_number|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">メールアドレス</label>
                        <div class="input-text-area">
                            <input type="email" value="{{ input.manager.email|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="manager_email" value="{{ input.manager.email|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">プロフィール画像</label>
                        <div class="input-text-area">
                            <span class="image-file-name mb-1">{{ input.manager.image_name|default:'' }}</span>
                            <div class="upload-image-area">
                                <input type="hidden" name="manager_image_name" value="{{ input.manager.image_name|default:'' }}">
                                <input type="hidden" name="manager_image" value="{{ input.manager.image|default:'' }}">
                            </div>
                        </div>
                        <label class="input-mark mb-0">任意</label>
                    </div>
                </div>
                <div class="input-area mb-3">
                    <p class="title pb-2 mb-3">店舗情報</p>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">店舗名</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.shop.name|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="shop_name" value="{{ input.shop.name|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">郵便番号</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.shop.postcode|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="shop_postcode" value="{{ input.shop.postcode|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">都道府県</label>
                        <div class="input-text-area">
                            <div class="dropdown input-select-dropdown d-inline-block p-0">
                                <input type="text" value="{{ input.shop.prefecture|default:'' }}" class="input-text ps-2 pe-2" disabled>
                                <input type="hidden" name="shop_prefecture" value="{{ input.shop.prefecture|default:'' }}">
                                <input type="hidden" name="shop_prefecture_value" value="{{ input.shop.prefecture_value|default:'' }}">
                            </div>
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">住所</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.shop.address|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="shop_address" value="{{ input.shop.address|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">URL</label>
                        <div class="input-text-area">
                            <input type="url" value="{{ input.shop.url|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="shop_url" value="{{ input.shop.url|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">電話番号</label>
                        <div class="input-text-area">
                            <input type="text" value="{{ input.shop.phone_number|default:'' }}" class="input-text ps-2 pe-2" disabled>
                            <input type="hidden" name="shop_phone_number" value="{{ input.shop.phone_number|default:'' }}">
                        </div>
                        <label class="input-mark required mb-0">必須</label>
                    </div>
                    <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                        <label class="input-label mb-0">ロゴ画像</label>
                        <div class="input-text-area">
                            <span class="logo-image-file-name mb-1">{{ input.shop.logo_image_name|default:'' }}</span>
                            <div class="upload-logo-image-area">
                                <input type="hidden" name="shop_logo_image_name" value="{{ input.shop.logo_image_name|default:'' }}">
                                <input type="hidden" name="shop_logo_image" value="{{ input.shop.logo_image|default:'' }}">
                            </div>
                        </div>
                        <label class="input-mark mb-0">任意</label>
                    </div>
                </div>
                
                <input type="hidden" name="tag_count" value="{{ input.tag.count|default:'0' }}">
                {% for tag_item in input.tag.data %}
                    {% if forloop.first %}
                        <div class="input-area">
                            <p class="title pb-2 mb-3"></p>
                            <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                                <label class="input-label mb-0">タグ</label>
                                <div class="input-text-area">
                                    <div class="d-flex justify-content-start align-items-center" style="width: 92%;">
                                        <div class="input-text-tag-genre d-inline-block p-0" style="width: 85%;">
                                            <input type="text" value="{{ tag_item.genre_name }}" class="input-text ps-2 pe-2" disabled>
                                            <input type="hidden" name="tag_genre_{{ forloop.counter }}" value="{{ tag_item.genre_name }}">
                                        </div>
                                        <div class="input-text-tag d-inline-block p-0" style="width: 85%;">
                                            <input type="text" value="{{ tag_item.name }}" class="input-text ps-2 pe-2" disabled>
                                            <input type="hidden" name="tag_{{ forloop.counter }}" value="{{ tag_item.name }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="input-area">
                            <div class="d-flex justify-content-start align-items-center ps-2 mb-3">
                                <label class="input-label mb-0"></label>
                                <div class="input-text-area">
                                    <div class="d-flex justify-content-start align-items-center" style="width: 92%;">
                                        <div class="input-text-tag-genre d-inline-block p-0" style="width: 85%;">
                                            <input type="text" name="tag_genre_{{ forloop.counter }}" value="{{ tag_item.genre_name }}" class="input-text ps-2 pe-2" disabled>
                                            <input type="hidden" name="tag_genre_{{ forloop.counter }}" value="{{ tag_item.genre_name }}">
                                        </div>
                                        <div class="input-text-tag d-inline-block p-0" style="width: 85%;">
                                            <input type="text" name="tag_{{ forloop.counter }}" value="{{ tag_item.name }}" class="input-text ps-2 pe-2" disabled>
                                            <input type="hidden" name="tag_{{ forloop.counter }}" value="{{ tag_item.name }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
            <div class="button-area text-center mt-5">
                <button type="button" value="shop" class="btn action-button save-button me-3">申し込み</button>
                <button type="button" value="shop" class="btn back-button">戻る</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}