{% extends '../base.html' %}

{% load static %}
{% load original %}

{% block css %}
    <link href="{% static_cache 'css/company/shop.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <p class="main-title mb-3">{{ title }} - 企業 - </p>
        </div>
    </div>
    <div class="company">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-start align-items-top">
                    {% include 'company/shop/profile.html' %}
                    {% include 'company/shop/data.html' %}
                </div>
            </div>
        </div>
        {% include 'modal.html' %}
        {% include 'company/shop/modal/detail.html' %}
        {% include 'company/shop/modal/setting.html' %}
        {% include 'company/tag/modal/tag.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static_cache 'js/company/tag/modal.js' %}"></script>
    <script src="{% static_cache 'js/company/shop/data.js' %}"></script>
    <script src="{% static_cache 'js/company/shop/detail.js' %}"></script>
{% endblock %}