<input type="hidden" id="get_head_template_text_url" value="{% url 'head:template:get_text' %}">
<input type="hidden" id="get_head_template_text_list_url" value="{% url 'head:template:get_all_text' %}">
<div id="head_template_text_modal" class="modal up-modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-11">
                    <p class="modal-title">テキストを選択する</p>
                </div>
                <div class="col-1">
                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-12">
                        <div class="table-area mb-3">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>メッセージ内容</th>
                                        <th style="width: 250px;">登録名</th>
                                        <th style="width: 100px;"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="notice-area text-center mt-3 mb-3 d-none">
                            <p class="mb-0">テキストが登録されていません。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>