{% load static %}
{% load original %}

<link href="{% static_cache 'css/library/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/library/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/library/croppie.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/library/slick.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/library/slick-theme.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static_cache 'css/font.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/header.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/side.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/main.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/form.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/modal.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/offcanvas.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/table.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/drop.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/preview.css' %}" rel="stylesheet" type="text/css" />