{% load static %}
{% load original %}

<script src="{% static_cache 'js/library/jquery.min.js' %}"></script>
<script src="{% static_cache 'js/library/bootstrap.bundle.min.js' %}"></script>
<script src="{% static_cache 'js/library/croppie.min.js' %}"></script>
<script src="{% static_cache 'js/library/parsley.min.js' %}"></script>
<script src="{% static_cache 'js/library/slick.min.js' %}"></script>
<script src="{% static_cache 'js/library/ajaxzip3.js' %}"></script>

<script src="{% static_cache 'js/ajax.js' %}"></script>
<script src="{% static_cache 'js/modal.js' %}"></script>
<script src="{% static_cache 'js/form.js' %}"></script>
<script src="{% static_cache 'js/table.js' %}"></script>
<script src="{% static_cache 'js/drop.js' %}"></script>
<script src="{% static_cache 'js/preview.js' %}"></script>
<script src="{% static_cache 'js/common.js' %}"></script>
<script src="{% static_cache 'js/header.js' %}"></script>