{% extends '../base.html' %}

{% load static %}
{% load original %}

{% block css %}
    <link href="{% static 'css/reception.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }}</p>
        </div>
    </div>
    <div class="shop">
        <div class="row">
            <div class="col-12">
                <div class="card-area pt-3 pb-3 ps-4 pe-4">
                    <input type="hidden" id="save_manager_check_form" value="{% url 'reception:save_manager_check' %}">
                    <form id="save_manager_form" action="{% url 'reception:save_manager' %}" method="POST" enctype="multipart/form-data" data-parsley-focus="none">
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="d-flex align-items-center mb-2">
                                    <a href="{% url 'reception:manager' %}?year={{ prev.year }}&month={{ prev.month }}" class="mt-1 me-3" style="cursor: pointer;">
                                        <img src="{% static 'img/icon/than-gray-left.svg' %}">
                                    </a>
                                    <a href="{% url 'reception:manager' %}?year={{ next.year }}&month={{ next.month }}" class="mt-1 me-4" style="cursor: pointer;">
                                        <img src="{% static 'img/icon/than-gray-right.svg' %}">
                                    </a>
                                    <p class="calendar-title mb-0">{{ date.year }}年 {{ date.month }}月</p>
                                    <input type="hidden" name="year" value="{{ date.year }}">
                                    <input type="hidden" name="month" value="{{ date.month }}">
                                    <button type="button" class="btn all-input-button ms-3 me-2" data-bs-toggle="modal" data-bs-target="#manager_all_input_modal">一括入力</button>
                                    <button type="button" class="btn all-reset-button" data-bs-toggle="modal" data-bs-target="#manager_all_reset_modal">一括リセット</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="table-area w-100" style="overflow-x: auto;">
                                    <table class="table manager-table mb-0" style="white-space: nowrap;">
                                        <thead>
                                            <tr>
                                                <th class="fix" style="width: 150px; border-radius: 5px 0 0 0; vertical-align: middle;">会場カテゴリ</th>
                                                <th class="fix" style="width: 130px; vertical-align: middle;">スタッフ名</th>
                                                <th class="fix text-center" style="width: 90px; vertical-align: middle;">設定状況</th>
                                                {% for week in days %}
                                                    {% for day in week %}
                                                        {% if day.month == date.month %}
                                                            {% if forloop.first or day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                {% if forloop.counter == 1 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(日)</th>
                                                                {% elif forloop.counter == 2 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(月)</th>
                                                                {% elif forloop.counter == 3 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(火)</th>
                                                                {% elif forloop.counter == 4 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(水)</th>
                                                                {% elif forloop.counter == 5 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(木)</th>
                                                                {% elif forloop.counter == 6 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(金)</th>
                                                                {% elif forloop.counter == 7 %}
                                                                    <th class="text-center" style="width: 70px; color: #FF5B5B; vertical-align: middle;">{{ day.day }}(土)</th>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if forloop.counter == 1 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(日)</th>
                                                                {% elif forloop.counter == 2 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(月)</th>
                                                                {% elif forloop.counter == 3 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(火)</th>
                                                                {% elif forloop.counter == 4 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(水)</th>
                                                                {% elif forloop.counter == 5 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(木)</th>
                                                                {% elif forloop.counter == 6 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(金)</th>
                                                                {% elif forloop.counter == 7 %}
                                                                    <th class="text-center" style="width: 70px; vertical-align: middle;">{{ day.day }}(土)</th>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for online_offline_item in online_offline_list %}
                                                {% for manager_item in online_offline_item.manager %}
                                                    {% if forloop.first %}
                                                        <tr style="background-color: #FFF; border-top: 3px solid rgba(60,60,67,0.36);">
                                                            <td rowspan="{{ online_offline_item.manager|length }}" style="white-space: normal; word-break: break-word;">
                                                                <span class="setting-name-{{ online_offline_item.display_id }}">{{ online_offline_item.name }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="manager-name-{{ manager_item.display_id }}">{{ manager_item.profile.family_name }} {{ manager_item.profile.first_name }}</span>
                                                            </td>
                                                            <td class="text-center">
                                                                {% if manager_item.reception_count == 0 %}
                                                                    <span style="color: #FF0000">未設定</span>
                                                                {% elif manager_item.reception_count < days_count %}
                                                                    <span style="color: #FF0000">一部未設定</span>
                                                                {% else %}
                                                                    <span style="color: #007AFF">設定済</span>
                                                                {% endif %}
                                                            </td>
                                                            {% for day in manager_item.reception_list %}
                                                                {% if day.flg is None %}
                                                                    {% if day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                        <td class="text-center">
                                                                            <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                            <input type="hidden" value="{{ manager_item.display_id }}">
                                                                            <input type="hidden" value="{{ day.day }}">
                                                                            <input type="hidden" value="{{ day.week }}">
                                                                            <button type="button" class="btn no-icon p-0"></button>
                                                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                            <div class="data-area"></div>
                                                                        </td>
                                                                    {% else %}
                                                                        <td class="text-center">
                                                                            <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                            <input type="hidden" value="{{ manager_item.display_id }}">
                                                                            <input type="hidden" value="{{ day.day }}">
                                                                            <input type="hidden" value="{{ day.week }}">
                                                                            <button type="button" class="btn no-icon p-0"></button>
                                                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                            <div class="data-area"></div>
                                                                        </td>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if day.flg %}
                                                                        {% if day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn work-icon p-0">出</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="1">
                                                                                    {% for time in day.time %}
                                                                                        <input type="hidden" name="from_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.from }}">
                                                                                        <input type="hidden" name="to_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.to }}">
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </td>
                                                                        {% else %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn work-icon p-0">出</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="1">
                                                                                    {% for time in day.time %}
                                                                                        <input type="hidden" name="from_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.from }}">
                                                                                        <input type="hidden" name="to_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.to }}">
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </td>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn holiday-icon p-0">休</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="0">
                                                                                </div>
                                                                            </td>
                                                                        {% else %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn holiday-icon p-0">休</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="0">
                                                                                </div>
                                                                            </td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% else %}
                                                        <tr style="background-color: #FFF;">
                                                            <td>
                                                                <span class="manager-name-{{ manager_item.display_id }}">{{ manager_item.profile.family_name }} {{ manager_item.profile.first_name }}</span>
                                                            </td>
                                                            <td class="text-center">
                                                                {% if manager_item.reception_count == 0 %}
                                                                    <span style="color: #FF0000">未設定</span>
                                                                {% elif manager_item.reception_count < days_count %}
                                                                    <span style="color: #FF0000">一部未設定</span>
                                                                {% else %}
                                                                    <span style="color: #007AFF">設定済</span>
                                                                {% endif %}
                                                            </td>
                                                            {% for day in manager_item.reception_list %}
                                                                {% if day.flg is None %}
                                                                    {% if day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                        <td class="text-center">
                                                                            <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                            <input type="hidden" value="{{ manager_item.display_id }}">
                                                                            <input type="hidden" value="{{ day.day }}">
                                                                            <input type="hidden" value="{{ day.week }}">
                                                                            <button type="button" class="btn no-icon p-0"></button>
                                                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                            <div class="data-area"></div>
                                                                        </td>
                                                                    {% else %}
                                                                        <td class="text-center">
                                                                            <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                            <input type="hidden" value="{{ manager_item.display_id }}">
                                                                            <input type="hidden" value="{{ day.day }}">
                                                                            <input type="hidden" value="{{ day.week }}">
                                                                            <button type="button" class="btn no-icon p-0"></button>
                                                                            <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                            <div class="data-area"></div>
                                                                        </td>
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if day.flg %}
                                                                        {% if day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn work-icon p-0">出</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="1">
                                                                                    {% for time in day.time %}
                                                                                        <input type="hidden" name="from_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.from }}">
                                                                                        <input type="hidden" name="to_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.to }}">
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </td>
                                                                        {% else %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn work-icon p-0">出</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="1">
                                                                                    {% for time in day.time %}
                                                                                        <input type="hidden" name="from_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.from }}">
                                                                                        <input type="hidden" name="to_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}_{{ time.number }}" value="{{ time.to }}">
                                                                                    {% endfor %}
                                                                                </div>
                                                                            </td>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if day.month|add_num:'/'|add_num:day.day in holiday %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn holiday-icon p-0">休</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="0">
                                                                                </div>
                                                                            </td>
                                                                        {% else %}
                                                                            <td class="text-center">
                                                                                <input type="hidden" value="{{ online_offline_item.display_id }}">
                                                                                <input type="hidden" value="{{ manager_item.display_id }}">
                                                                                <input type="hidden" value="{{ day.day }}">
                                                                                <input type="hidden" value="{{ day.week }}">
                                                                                <button type="button" class="btn holiday-icon p-0">休</button>
                                                                                <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#manager_input_modal"></button>
                                                                                <div class="data-area">
                                                                                    <input type="hidden" name="flg_{{ online_offline_item.display_id }}_{{ manager_item.display_id }}_{{ day.day }}" value="0">
                                                                                </div>
                                                                            </td>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn save-button mt-2" value="manager">設定する</button>
                            <button type="button" class="up-modal-button d-none" data-bs-toggle="modal" data-bs-target="#save_check_modal"></button>
                            <input type="hidden" id="reload_url" value="{% url 'reception:manager' %}?year={{ date.year }}&month={{ date.month }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'reception/modal/manager.html' %}
        {% include 'modal.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/reception/manager/action.js' %}"></script>
    <script src="{% static 'js/reception/manager/data.js' %}"></script>
{% endblock %}