.menu-area .menu-icon {
    width: 11vw;
    height: 11vw;
}
.menu-area .menu-bar {
    width: 7.5vw;
    border: 0.5px solid #A7ACB3;
}
.menu-area .menu-text {
    width: 18.8%;
    font-size: 11px;
    text-align: center;
}
.menu-area .menu-text.active {
    color: #00A841;
    font-weight: bold;
}

.content-area .content-message {
    font-size: 18px;
    font-weight: bold;
}
.content-area .content-notice-message {
    color: #FF0000;
    font-size: 3.7vw;
    font-weight: bold;
}
.content-area .content-title,
.title-area .content-title {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(241,93,107);
    margin-bottom: 0.9rem;
}
.content-area .content-description {
    font-size: 14px;
}
.course-area .content-area .content-item-area,
.question-area .content-area .content-item-area,
.check-area .content-area .content-item-area,
.end-area .content-area .content-item-area {
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgb(0,0,0,0.16);
}
.content-area .content-item-area .content-item-title {
    font-size: 16px;
    font-weight: bold;
}
.content-area .content-item-area .content-item-description {
    font-size: 14px;
}
.content-area .content-item-area .arrow-icon {
    width: 17.5px;
    height: 17.5px;
}

.content-area .content-question-area .input-label {
    font-size: 16px;
}
.content-area .content-question-area .input-required-label {
    color: #FFF;
    font-size: 12px;
    background-color: red;
    border-radius: 5px;
}
.content-area .content-question-area .input-text {
    height: 2.5rem;
    line-height: 1.8rem;
}
.content-area .content-question-area .input-textarea {
    max-height: 4.5rem;
    min-height: 2.5rem;
}
.content-area .content-question-area .input-text,
.content-area .content-question-area .input-textarea {
    width: 100%;
    color: rgba(59,64,67,1);
    font-size: 14px;
    border: 1px solid #cdd6dd;
    border-radius: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.content-area .content-question-area .input-text:focus,
.content-area .content-question-area .input-textarea:focus {
    border-color: #727b94;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(102 111 134 / 10%);
}
.content-area .content-question-area .input-text:focus-visible,
.content-area .content-question-area .input-textarea:focus-visible {
    outline: 0px;
}
.content-area .content-question-area .input-text::placeholder,
.content-area .content-question-area .input-textarea::placeholder {
    color: #afafaf;
}

.content-area .date-arrow-icon {
    width: 40px;
    color: #FFF;
    font-size: 26px;
    text-align: center;
    background-color: #5ABBAA;
    border-radius: 5px;
}
.content-area .date-year-text {
    font-size: 16px;
}
.content-area .date-week-text {
    font-size: 16px;
    font-weight: bold;
}

.table {
    border: 1px solid #BEBEBE;
}
.table th {
    border: 1px solid #BEBEBE;
}
.table td {
    border: 1px solid #BEBEBE;
}
.table td.no {
    color: #00B074;
    font-weight: bold;
    background-color: #4D4D4D;
}
.table td.yes {
    color: #00B074;
    font-weight: bold;
}

.button-area .check-button,
.button-area .reserve-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #00B074;
}
.button-area .back-button,
.button-area .close-button,
.error-area .close-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #ABABAB;
}

.footer-area .footer-bar {
    border-top: 1px solid #707070;
}
.footer-area .footer-label {
    width: 80px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    background-color: #00B074;
    border-radius: 10px;
}
.footer-area .footer-text {
    font-size: 15px;
}
.footer-area .footer-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    background-color: #00B074;
}
.footer-area .back-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    background-color: #ABABAB;
}

.input-radio-wrap label {
    font-size: 0.7rem;
}
.input-radio-wrap .input-radio {
    display: none;
}
.input-radio-wrap .input-radio-text {
    font-size: 16px;
    font-weight: bold;
}
.input-radio-wrap .input-radio-mark {
    position: absolute;
    top: 10%;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border: 1px solid #cdd6dd;
    border-radius: 50%;
}
.input-radio-wrap .input-radio-mark:after {
    content: "";
    position: absolute;
    display: none;
    top: 51.9%;
    left: 51.9%;
    width: 10.5px;
    height: 10.5px;
    background: #004bb1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.input-radio-wrap .input-radio:checked ~ .input-radio-mark:after {
    display: block;
}
.input-radio-description {
    font-size: 14px;
}

.input-check-wrap {
    position: relative;
    color: #495057;
    cursor: pointer;
}
.input-check-wrap label {
    cursor: pointer;
}
.input-check-wrap .input-check {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 16px;
}
.input-check-wrap .input-check-mark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 6px;
    border: 1px solid #c3daff;
}
.input-check-wrap .input-check-mark:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.input-check-wrap .input-check:checked ~ .input-check-mark {
    background-color: #3b86ff;
    border: none;
}
.check-input-area .input-check-wrap .input-check:checked ~ .input-check-mark {
    background-color: #cdd6dd;
    border: none;
}
.input-check-wrap .input-check:checked ~ .input-check-mark:after {
    display: block;
}

.input-select-dropdown .input-text {
    height: 2rem;
    color: rgba(59,64,67,1);
    font-size: 0.8rem;
    border: 1px solid #cdd6dd;
    border-radius: 0.4rem;
    line-height: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-select-dropdown .input-text.readonly {
    color: rgba(59,64,67,0.5);
}
.input-select-dropdown .input-text:focus {
    border-color: #727b94;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(102 111 134 / 10%);
}
.input-select-dropdown .input-text:focus-visible {
    outline: 0px;
}
.input-select-dropdown .input-text::placeholder {
    color: #afafaf;
}
.input-select-dropdown .input-select {
    background: url(../../img/icon/select-arrow.svg) no-repeat,#fff;
    background-position: 95%;
    background-size: 0.6rem 0.4rem;
    cursor: pointer;
}
.input-select-dropdown .dropdown-menu {
    min-width: 100%;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: overlay;
    animation-duration: 0s;
}
.input-select-dropdown .dropdown-menu button {
    font-size: 0.7rem;
}

.drop-zone {
    padding: 0 20px;
    border: 2px dashed rgba(0,0,0,0.3);
    cursor: pointer;
}
.drop-zone .dz-message {
    margin: 0 0 12px !important;
}
.drop-icon {
    font-size: 100px;
}
.drop-text {
    font-size: 11px;
}
.drop-button {
    margin: 0 auto 0.25rem;
    width: 100px;
    color: #FE4000 !important;
    font-size: 12px;
    border: 1px solid #FE4000 !important;
    border-radius: 0.25rem !important;
}
.drop-description {
    color: #3B86FF;
    font-size: 12px;
}
.drop-display-zone {
    max-width: 100%;
    border-radius: 10px;
}
.drop-display-zone img,
.drop-display-zone video {
    width: 100%;
    border-radius: 10px;
}
.drop-zone-wrap .image-delete-button,
.drop-zone-wrap .video-delete-button {
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #6c757d;
    border-radius: 0.3rem;
    border: none;
}

.error-message-image p,
.error-message-video p {
    color: #FFF;
    background-color: red;
    border-radius: 5px;
}

.parsley-errors-list {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0.5rem;
    list-style-type: none;
}
.parsley-errors-list li {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
}
.parsley-error {
    border: 1px solid red !important;
}
.form-check .parsley-error {
    border: none !important;
}

.loader-area {
    top: 40%;
    left: 50%;
    color: #000;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    transition: 0s;
}
.loader-area .table-loader {
    width: 3rem;
    height: 3rem;
}