.menu-area .menu-icon {
    width: 11vw;
    height: 11vw;
}
.menu-area .menu-bar {
    width: 7.5vw;
    border: 0.5px solid #A7ACB3;
}
.menu-area .menu-text {
    width: 18.8%;
    font-size: 11px;
    text-align: center;
}
.menu-area .menu-text.active {
    color: #00A841;
    font-weight: bold;
}

.content-area .content-message {
    font-size: 18px;
    font-weight: bold;
}
.content-area .content-notice-message {
    color: #FF0000;
    font-size: 3.7vw;
    font-weight: bold;
}
.content-area .content-title {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    background-color: #802077;
}
.content-area .content-item-area {
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
}
.content-area .content-item-area .content-item-title {
    color: #802077;
    font-size: 16px;
    font-weight: bold;
}
.content-area .content-item-area .content-item-description {
    font-size: 14px;
}
.content-area .content-item-area .arrow-icon {
    width: 17.5px;
    height: 17.5px;
}

.content-area .date-arrow-icon {
    width: 40px;
    color: #FFF;
    font-size: 26px;
    text-align: center;
    background-color: #5ABBAA;
    border-radius: 5px;
}
.content-area .date-year-text {
    font-size: 16px;
}
.content-area .date-week-text {
    font-size: 16px;
    font-weight: bold;
}

.table {
    border: 1px solid #BEBEBE;
}
.table th {
    border: 1px solid #BEBEBE;
}
.table td {
    border: 1px solid #BEBEBE;
}
.table td.no {
    color: #00B074;
    font-weight: bold;
    background-color: #4D4D4D;
}
.table td.yes {
    color: #00B074;
    font-weight: bold;
}

.button-area .reserve-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #00B074;
}
.button-area .close-button,
.error-area .close-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #ABABAB;
}

.footer-area .footer-bar {
    border-top: 1px solid #707070;
}
.footer-area .footer-label {
    width: 80px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    background-color: #00B074;
    border-radius: 10px;
}
.footer-area .footer-text {
    font-size: 15px;
}
.footer-area .footer-button {
    width: 90%;
    color: #FFF;
    font-size: 16px;
    background-color: #00B074;
}

.input-radio-wrap label {
    font-size: 0.7rem;
}
.input-radio-wrap .input-radio {
    display: none;
}
.input-radio-wrap .input-radio-text {
    font-size: 16px;
    font-weight: bold;
}
.input-radio-wrap .input-radio-mark {
    position: absolute;
    top: 10%;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border: 1px solid #cdd6dd;
    border-radius: 50%;
}
.input-radio-wrap .input-radio-mark:after {
    content: "";
    position: absolute;
    display: none;
    top: 51.9%;
    left: 51.9%;
    width: 10.5px;
    height: 10.5px;
    background: #004bb1;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.input-radio-wrap .input-radio:checked ~ .input-radio-mark:after {
    display: block;
}
.input-radio-description {
    font-size: 14px;
}

.loader-area {
    top: 40%;
    left: 50%;
    color: #000;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.3s;
}
.loader-area .table-loader {
    width: 3rem;
    height: 3rem;
}