{% load static %}
{% load original %}

<link href="{% static_cache 'css/library/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/library/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/library/croppie.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static_cache 'css/font.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/drop.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static_cache 'css/account.css' %}" rel="stylesheet" type="text/css" />