{% load static %}

<div class="action-area-wrap">
    <p class="input-label fw-bold mb-2">アクション</p>
    {% if rich_menu.shop_rich_menu_item.all|length > 0 %}
        {% for rich_menu_item in rich_menu.shop_rich_menu_item.all %}
            <div class="action-area d-flex flex-column position-relative p-1 mb-2">
                <div class="number-area d-flex justify-content-start align-items-center pb-3">
                    <img src="{% static 'img/icon/than-green.svg' %}" class="mt-1 ms-2">
                    <p class="ms-2 mb-0">{{ rich_menu_item.number|title }}</p>
                    <input type="hidden" name="number" value="{{ rich_menu_item.number }}">
                </div>
                <div class="content-area-wrap">
                    <div class="content-area d-flex justify-content-start align-items-center pb-0">
                        <label class="ms-5 mb-3">タイプ</label>
                        <div class="dropdown input-select-dropdown d-inline-block p-0 ms-3">
                            {% if rich_menu_item.type == 1 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="リンク" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 2 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="動画" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 3 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="回答フォーム" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 4 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="予約フォーム" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 5 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="予約履歴ページ" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 6 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="オンラインURL" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 7 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="会社概要" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% elif rich_menu_item.type == 8 %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="テキスト" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% else %}
                                <input type="text" name="type_{{ rich_menu_item.number }}" value="設定なし" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-error-message="選択してください" readonly required>
                            {% endif %}
                            <input type="hidden" value="{{ rich_menu_item.type }}">
                            <div class="dropdown-menu">
                                <button type="button" value="1" class="btn dropdown-item fw-bold">リンク</button>
                                <button type="button" value="2" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">動画</button>
                                <button type="button" value="3" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">回答フォーム</button>
                                <button type="button" value="4" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">予約フォーム</button>
                                <button type="button" value="5" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">予約履歴ページ</button>
                                <button type="button" value="6" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">オンラインURL</button>
                                <button type="button" value="7" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">会社概要</button>
                                <button type="button" value="8" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">テキスト</button>
                                <button type="button" value="0" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">設定なし</button>
                            </div>
                        </div>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_video_modal"></button>
                        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#question_modal"></button>
                    </div>
                    <div class="content-error-area d-flex justify-content-start align-items-start pb-0">
                        <label class="mb-0" style="margin-left: 9.5rem; font-size: 0.1rem;">&nbsp;</label>
                        <div id="error_type_{{ rich_menu_item.number }}" class="ms-3 mb-3"></div>
                    </div>
                    {% if rich_menu_item.type == 1 or rich_menu_item.type == 2 or rich_menu_item.type == 3 or rich_menu_item.type == 4 or rich_menu_item.type == 5 or rich_menu_item.type == 6 or rich_menu_item.type == 7 %}
                        <div class="content-area d-flex justify-content-start align-items-center pb-0">
                            <label class="ms-5 mb-3"></label>
                            <div class="p-0 mb-3 ms-3">
                                {% if template_item.type == 1 %}
                                    <input type="text" name="url_{{ rich_menu_item.number }}" value="{{ rich_menu_item.url|default:'' }}" class="input-text input-select ps-2 pe-2" placeholder="URLを入力" required>
                                {% else %}
                                    <input type="text" name="url_{{ rich_menu_item.number }}" value="{{ rich_menu_item.url|default:'' }}" class="input-text input-select ps-2 pe-2" placeholder="URLを入力" required disabled>
                                {% endif %}
                                {% if rich_menu_item.type == 2 %}
                                    <input type="hidden" value="{{ rich_menu_item.video.display_id }}">
                                {% elif rich_menu_item.type == 3 %}
                                    <input type="hidden" value="{{ rich_menu_item.question.display_id }}">
                                {% else %}
                                    <input type="hidden" value="">
                                {% endif %}
                            </div>
                        </div>
                        <div class="content-area d-flex justify-content-start pb-0">
                            <label class="ms-5 mt-1 mb-3">アクションラベル</label>
                            <div class="p-0 mb-3 ms-3">
                                <textarea name="label_{{ rich_menu_item.number }}" class="d-block input-textarea" placeholder="アクションラベルを入力" maxlength="20" data-parsley-maxlength="20"required>{{ rich_menu_item.label }}</textarea>
                            </div>
                        </div>
                    {% elif rich_menu_item.type == 8 %}
                        <div class="content-area d-flex justify-content-start align-items-center pb-0">
                            <label class="ms-5 mb-3"></label>
                            <div class="p-0 mb-3 ms-3">
                                <p class="description mb-0">キーワード応答で設定したテキストを含む、すべてのテキストを設定できます（50文字以内）。</p>
                            </div>
                        </div>
                        <div class="content-area d-flex justify-content-start pb-0">
                            <label class="ms-5 mt-1 mb-3"></label>
                            <div class="p-0 mb-3 ms-3">
                                <textarea name="text_{{ rich_menu_item.number }}" class="d-block input-textarea" placeholder="テキストを入力" maxlength="50" data-parsley-maxlength="50" required>{{ rich_menu_item.text|default:'' }}</textarea>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="action-area d-flex flex-column position-relative p-1 mb-2">
            <div class="number-area d-flex justify-content-start align-items-center pb-3">
                <img src="{% static 'img/icon/than-green.svg' %}" class="mt-1 ms-2">
                <p class="ms-2 mb-0">A</p>
                <input type="hidden" name="number" value="a">
            </div>
            <div class="content-area-wrap">
                <div class="content-area d-flex justify-content-start align-items-center pb-0">
                    <label class="ms-5 mb-3">タイプ</label>
                    <div class="dropdown input-select-dropdown d-inline-block p-0 ms-3">
                        <input type="text" id="select_type_a" name="type_a" class="input-text input-select ps-2 pe-2" placeholder="選択" data-bs-toggle="dropdown" data-parsley-errors-container="#error_type_a" data-parsley-error-message="選択してください" readonly required>
                        <input type="hidden">
                        <div class="dropdown-menu">
                            <button type="button" value="1" class="btn dropdown-item fw-bold">リンク</button>
                            <button type="button" value="2" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">動画</button>
                            <button type="button" value="3" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">回答フォーム</button>
                            <button type="button" value="4" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">予約フォーム</button>
                            <button type="button" value="5" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">予約履歴ページ</button>
                            <button type="button" value="6" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">オンラインURL</button>
                            <button type="button" value="7" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">会社概要</button>
                            <button type="button" value="8" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">テキスト</button>
                            <button type="button" value="0" class="btn dropdown-item fw-bold border-top p-1 ps-4 pt-2">設定なし</button>
                        </div>
                    </div>
                    <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#template_video_modal"></button>
                    <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#question_modal"></button>
                </div>
                <div class="content-error-area d-flex justify-content-start align-items-start pb-0">
                    <label class="mb-0" style="margin-left: 9.5rem; font-size: 0.1rem;">&nbsp;</label>
                    <div id="error_type_a" class="ms-3 mb-3"></div>
                </div>
            </div>
        </div>
    {% endif %}
</div>