{% extends '../../base.html' %}

{% load static %}
{% load original %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }} - 統括 - </p>
        </div>
    </div>
    <div class="head">
        {% include 'head/template/tab.html' with target='richvideo' %}
        <div class="row">
            <div class="col-12">
                <div class="table-control-area mb-2">
                    <div class="d-flex align-items-center">
                        <a href="{% url 'head:template:edit_richvideo' %}" class="btn edit-button me-2" style="width: 9.5rem;">新規テンプレート登録</a>
                        <input type="text" class="input-text search-input ps-2 pe-2" value="{{ table.search.text }}" placeholder="登録名">
                        <input type="hidden" id="table_search_url" value="{% url 'head:template:search_richvideo' %}">
                        {% include 'table/number.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-area mb-3">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="ps-4" style="width: 150px;">動画</th>
                                {% include 'table/sort.html' with text='登録名' target='name' %}
                                {% include 'table/sort.html' with text='動画時間' target='video_time' width='150' %}
                                {% include 'table/sort.html' with text='動画容量' target='video_size' width='150' %}
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object_item in object_list %}
                                <tr>
                                    <td class="text-center">
                                        <img class="content-image me-2" src="{{ object_item.video_thumbnail.url }}">
                                    </td>
                                    <td class="position-relative">
                                        <p class="content-title mb-0">{{ object_item.name }}</p>
                                        <p class="content-date mb-0">{{ object_item.created_at }}</p>
                                    </td>
                                    <td>
                                        {% if object_item.video %}
                                            <p class="content-title mb-0">{{ object_item.video_time|convert_time }}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if object_item.video %}
                                            {% if object_item.video_size >= 1000000 %}
                                                <p class="content-title mb-0">{{ object_item.video_size|division:1000000 }}MB</p>
                                            {% elif object_item.video_size >= 1000 %}
                                                <p class="content-title mb-0">{{ object_item.video_size|division:1000 }}KB</p>
                                            {% else %}
                                                <p class="content-title mb-0">{{ object_item.video_size }}B</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="hidden" name="id" value="{{ object_item.display_id }}">
                                        <a href="{% url 'head:template:edit_richvideo' %}?id={{ object_item.display_id }}" class="btn detail-button p-1">詳細</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'loader.html' %}
            </div>
        </div>
        <input type="hidden" id="table_paging_url" value="{% url 'head:template:paging_richvideo' %}">
        <input type="hidden" id="get_richvideo_url" value="{% url 'head:template:get_richvideo' %}">
        {% include 'table/paging.html' %}
        {% include 'preview.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/head/template/richvideo/preview.js' %}"></script>
    <script src="{% static 'js/head/template/richvideo/append.js' %}"></script>
    <script src="{% static 'js/head/template/richvideo/action.js' %}"></script>
{% endblock %}