{% load static %}

{% if type == 'greeting' %}
    <button type="button" value="line" class="btn  dropdown-item fw-bold text-center p-1">公式LINE名</button>
    <button type="button" value="company" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">企業名</button>
    <button type="button" value="name" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">担当者名</button>
    <button type="button" value="phone" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">担当者電話番号</button>
{% elif type == 'text' %}
    <button type="button" value="line" class="btn select_display_name_button dropdown-item fw-bold text-center p-1">公式LINE名</button>
    <button type="button" value="company" class="btn select_display_name_button dropdown-item fw-bold text-center border-top p-1 pt-2">企業名</button>
    <button type="button" value="name" class="btn select_display_name_button dropdown-item fw-bold text-center border-top p-1 pt-2">担当者名</button>
    <button type="button" value="phone" class="btn select_display_name_button dropdown-item fw-bold text-center border-top p-1 pt-2">担当者電話番号</button>
    <button type="button" value="date" class="btn select_display_name_button dropdown-item fw-bold text-center border-top p-1 pt-2">予約日時</button>
    <button type="button" value="address" class="btn select_display_name_button dropdown-item fw-bold text-center border-top p-1 pt-2">会場住所</button>
    <button type="button" value="url" class="btn select_display_name_button dropdown-item fw-bold text-center border-top p-1 pt-2">オンラインURL</button>
{% endif %}