{% load static %}

<div class="after-area">
    <div class="row mb-2">
        <div class="col-12">
            <div class="main-area">
                <p class="title me-4 mb-2">明日以降の予約</p>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <div class="mini-table-area mini-table-area-sp">
                <table class="table table-sp mb-0">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            {% include 'table/sort.html' with text='予約者氏名' target='name' %}
                            {% include 'table/sort.html' with text='予約日時' target='date' width='300' %}
                            {% include 'table/sort.html' with text='メニュー' target='setting' width='150' %}
                            {% include 'table/sort.html' with text='LINE登録' target='line' width='120' %}
                            <th style="width: 120px;"></th>
                            <th style="width: 100px;">予約者詳細</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for after_reserve_item in after_reserve_list %}
                            <tr class="position-relative">
                                <td>
                                    <p class="content-title mb-0">{{ forloop.counter }}</p>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-start align-items-center">
                                        {% if after_reserve_item.profile.image %}
                                            <img src="{{ after_reserve_item.profile.image.url }}" class="user-image me-2">
                                        {% elif after_reserve_item.display_image %}
                                            <img src="{{ after_reserve_item.display_image }}" class="user-image me-2">
                                        {% else %}
                                            <img src="{% static 'img/user-none.png' %}" class="user-image me-2">
                                        {% endif %}
                                        {% if after_reserve_item.profile.name %}
                                            {% if after_reserve_item.profile.age %}
                                                <p class="content-title mb-0">{{ after_reserve_item.profile.name }} ({{ after_reserve_item.profile.age }})</p>
                                            {% else %}
                                                <p class="content-title mb-0">{{ after_reserve_item.profile.name }}</p>
                                            {% endif %}
                                        {% else %}
                                            {% if after_reserve_item.profile.age %}
                                                <p class="content-title mb-0">{{ after_reserve_item.display_name }} ({{ after_reserve_item.profile.age }})</p>
                                            {% else %}
                                                <p class="content-title mb-0">{{ after_reserve_item.display_name }}</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <p class="content-title mb-0">{{ after_reserve_item.reserve }}</p>
                                </td>
                                <td>
                                    {% if after_reserve_item.schedule.offline %}
                                        <p class="content-title mb-0">{{ after_reserve_item.schedule.offline.name }}</p>
                                    {% elif after_reserve_item.schedule.online %}
                                        <p class="content-title mb-0">{{ after_reserve_item.schedule.online.name }}</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if after_reserve_item.proxy_flg %}
                                        <p class="content-title mb-0">未登録</p>
                                    {% else %}
                                        <p class="content-title mb-0">登録済み</p>
                                    {% endif %}
                                </td>
                                <td></td>
                                <td class="text-center">
                                    <div class="dropdown d-inline-block p-0">
                                        <button type="button" class="btn" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-horizontal-rounded bx-sm"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <button type="button" value="{{ after_reserve_item.display_id }}" class="btn dropdown-item dropdown-preview-button fw-bold text-center">プレビュー</button>
                                            <button type="button" class="d-none" data-bs-toggle="offcanvas" data-bs-target="#user_profile_offcanvas"></button>
                                            <a href="{% url 'user:detail' %}?id={{ after_reserve_item.display_id }}" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">詳細</a>
                                            <a href="{% url 'talk:index' %}?id={{ after_reserve_item.display_id }}" class="btn dropdown-item fw-bold text-center border-top p-1 pt-2">1対1トーク</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>