{% extends '../base.html' %}

{% load static %}
{% load original %}

{% block css %}
    <link href="{% static_cache 'css/dashboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <p class="main-title mb-3">{{ title }}</p>
        </div>
    </div>
    <div class="shop">
        <input type="hidden" id="get_user_url" value="{% url 'user:get' %}">
        <input type="hidden" id="mini_table_paging_url" value="{% url 'dashboard:paging' %}">
        {% include 'dashboard/top.html' %}
        {% include 'dashboard/today.html' %}
        {% include 'dashboard/new.html' %}
        {% include 'dashboard/line.html' %}
        {% include 'dashboard/after.html' %}
        {% include 'modal.html' %}
        {% include 'dashboard/modal/check.html' %}
        {% include 'dashboard/modal/step.html' %}
        {% include 'dashboard/modal/schedule.html' %}
        {% include 'template/text/modal/text.html' %}
        {% include 'template/video/modal/video.html' %}
        {% include 'template/richmessage/modal/richmessage.html' %}
        {% include 'template/richvideo/modal/richvideo.html' %}
        {% include 'template/cardtype/modal/cardtype.html' %}
        {% include 'user/modal/user.html' %}
        {% include 'user/offcanvas.html' %}
        {% include 'tag/modal/tag.html' %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static_cache 'js/template/text/modal.js' %}"></script>
    <script src="{% static_cache 'js/template/video/modal.js' %}"></script>
    <script src="{% static_cache 'js/template/richmessage/modal.js' %}"></script>
    <script src="{% static_cache 'js/template/richvideo/modal.js' %}"></script>
    <script src="{% static_cache 'js/template/cardtype/modal.js' %}"></script>
    <script src="{% static_cache 'js/tag/modal.js' %}"></script>
    <script src="{% static_cache 'js/dashboard/append.js' %}"></script>
    <script src="{% static_cache 'js/dashboard/action.js' %}"></script>
    <script src="{% static_cache 'js/dashboard/schedule.js' %}"></script>
    <script src="{% static_cache 'js/dashboard/data.js' %}"></script>
{% endblock %}