{% extends '../base.html' %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="logo-area mb-5">
        <img src="{% static 'img/logo.svg' %}">
    </div>
    <div class="message-area">
        <div class="row text-center">
            <div class="col-12">
                {% if status == 0 %}
                    <div class="mx-auto">
                        <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                    </div>
                    <div class="p-2 mt-2">
                        <p class="message-title h4">メールアドレスを<span class="fw-bold">{{ user.email }}</span>に変更しました</p>
                        <p class="message-description">メールアドレス認証にご協力頂きありがとうございました。</p>
                        <div class="mt-4">
                            <a href="{% url 'company:setting:index' %}" class="btn action-button">設定</a>
                        </div>
                    </div>
                {% elif status == 1 %}
                    <div class="mx-auto">
                        <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                    </div>
                    <div class="p-2 mt-2">
                        <p class="message-title h4">メールアドレスの認証に失敗しました</p>
                        <p class="message-description">無効なトークンのため認証できませんでした。もう一度初めからやり直してください。</p>
                        <div class="mt-4">
                            <a href="{% url 'company:setting:index' %}" class="btn action-button">設定</a>
                        </div>
                    </div>
                {% elif status == 2 %}
                    <div class="mx-auto">
                        <i class="mdi mdi-alert-circle-outline text-danger display-4"></i>
                    </div>
                    <div class="p-2 mt-2">
                        <p class="message-title h4">メールアドレスの認証に失敗しました</p>
                        <p class="message-description">有効期限が過ぎてしまったため認証できませんでした。もう一度初めからやり直してください</p>
                        <div class="mt-4">
                            <a href="{% url 'company:setting:index' %}" class="btn action-button">設定</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}